{% load static tailwind_tags %}
<!doctype html>
<html lang="en" class="h-full">
  <head>
    <title>{% block 404 %}{% endblock %}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% tailwind_css %}
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css"
    />
  </head>

  <body class="h-full">
    <main class="relative isolate flex items-center justify-center min-h-full">
      <!-- Wrapper for image with overlay -->
      <div class="absolute inset-0 -z-10">
        <img
          src="{% static 'images/404_image.avif' %}"
          alt="Background"
          class="h-full w-full object-cover object-top"
        />
        <!-- Gradient Overlay -->
        <div
          class="absolute inset-0 bg-gradient-to-b from-black/50 to-gray-800/50"
        ></div>
      </div>

      <!-- Content -->
      <div class="text-center max-w-3xl px-6 py-16 lg:py-24">
        <p class="text-lg font-bold text-white/90 tracking-wide">404</p>
        <h1
          class="mt-4 text-balance text-5xl font-semibold tracking-tight text-white sm:text-7xl"
        >
          Pagina niet gevonden
        </h1>
        <p
          class="mt-6 text-lg text-gray-200 sm:text-xl max-w-prose mx-auto leading-relaxed"
        >
          Sorry, we konden de pagina niet vinden die je zocht. Probeer het
          opnieuw of ga terug naar de startpagina.
        </p>
        <div class="mt-8">
          <a
            href="/"
            class="inline-block rounded-md bg-orange-500 px-8 py-3 text-lg font-semibold text-white shadow-lg hover:bg-orange-400 hover:shadow-xl focus:outline-none focus:ring-4 focus:ring-orange-300 focus:ring-offset-2 transition"
          >
            Terug naar hoofdmenu
          </a>
        </div>
      </div>
    </main>
  </body>
</html>
