{% extends 'components/main.html' %}
{% load static tailwind_tags %}

{% block title %}Over ons{% endblock %}

{% block content %}
  <main>
    <div class="relative">
      <!-- First Relief Pattern SVG - Ensure it's behind content -->
      <svg
        class="absolute right-0 top-0 hidden md:block md:[overflow-anchor:none] z-[-1]"
        width="404"
        height="384"
        fill="none"
        viewBox="0 0 404 384"
        aria-hidden="true"
      >
        <defs>
          <pattern
            id="95e8f2de-6d30-4b7e-8159-f791729db21b"
            x="0"
            y="0"
            width="20"
            height="20"
            patternUnits="userSpaceOnUse"
          >
            <rect
              x="0"
              y="0"
              width="4"
              height="4"
              class="text-gray-200"
              fill="currentColor"
            />
          </pattern>
        </defs>
        <rect
          width="404"
          height="384"
          fill="url(#95e8f2de-6d30-4b7e-8159-f791729db21b)"
        />
      </svg>

      <!-- Second Relief Pattern SVG - Also behind content -->
      <svg
        class="absolute bottom-10 left-0 hidden md:block md:[overflow-anchor:none] z-[-1]"
        width="404"
        height="384"
        fill="none"
        viewBox="0 0 404 384"
        aria-hidden="true"
      >
        <defs>
          <pattern
            id="7a00fe67-0343-4a3c-8e81-c145097a3ce0"
            x="0"
            y="0"
            width="20"
            height="20"
            patternUnits="userSpaceOnUse"
          >
            <rect
              x="0"
              y="0"
              width="4"
              height="4"
              class="text-gray-200"
              fill="currentColor"
            />
          </pattern>
        </defs>
        <rect
          width="404"
          height="384"
          fill="url(#7a00fe67-0343-4a3c-8e81-c145097a3ce0)"
        />
      </svg>

      <div class="mx-auto max-w-2xl px-4 lg:max-w-7xl lg:px-8 relative">
        {% include 'components/default_intro_section.html' %}
        <div class="overflow-hidden bg-white">
          <div class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8">
            <div class="max-w-4xl">
              <p class="text-base/7 font-semibold text-orange-500">
                Hier staan wij voor
              </p>
              <h1
                class="mt-2 text-pretty text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl"
              >
                Betaalbare en hoogwaardige vloeren met de beste service
              </h1>
              <p class="mt-6 text-balance text-xl/8 text-gray-700 w-3/4">
                Bij ons vind je vloeren van topkwaliteit tegen de laagste prijs.
                Wij bieden een effectieve selectie van producten en een
                betrouwbare bezorgservice om jouw project zo soepel mogelijk te
                laten verlopen.
              </p>
            </div>
            <section
              class="mt-20 grid grid-cols-1 lg:grid-cols-2 lg:gap-x-8 lg:gap-y-16"
            >
              <div class="lg:pr-8">
                <h2
                  class="text-pretty text-2xl font-semibold tracking-tight text-gray-900"
                >
                  Onze missie
                </h2>
                <p class="mt-6 text-base/7 text-gray-600">
                  Wij streven ernaar om hoogwaardige vloeren en bijbehorende
                  producten <strong>betaalbaar</strong> te maken voor iedereen.
                  Onze webshop biedt alles wat je nodig hebt om zelf een vloer
                  te leggen, van materialen tot accessoires, allemaal van de
                  beste kwaliteit.
                </p>
                <p class="mt-8 text-base/7 text-gray-600">
                  Wij geloven niet in een
                  <a class="font-medium text-orange-500" href="/products"
                    >assortiment</a
                  >
                  van duizenden producten. In plaats daarvan selecteren we
                  alleen de <strong>allerbeste</strong> merken en producten,
                  zodat jij als klant precies weet wat je kunt kopen. Dit zorgt
                  ervoor dat je niet overweldigd wordt door een enorme keuze,
                  maar juist snel het juiste product vindt voor jouw
                  persoonlijke project.

                  <br /><br />Onze zorgvuldig gekozen merken, zoals
                  {% for brand in brands %}
                    <a
                      href="/products/{{ brand.name }}"
                      class="text-orange-500 font-semibold"
                      >{{ brand.name }}</a
                    >,
                  {% endfor %}
                  bieden gegarandeerde <strong>topkwaliteit</strong> tegen de
                  laagste prijzen. Wij combineren de beste prijs met de hoogste
                  kwaliteit, zodat je altijd kunt vertrouwen op de producten die
                  je bij ons aanschaft.
                </p>
              </div>
              <div class="pt-16 lg:row-span-2 lg:-mr-16 xl:mr-auto">
                <div
                  class="-mx-8 grid grid-cols-2 gap-4 sm:-mx-16 sm:grid-cols-4 lg:mx-0 lg:grid-cols-2 lg:gap-4 xl:gap-8"
                >
                  <!-- Image 1 -->
                  <div
                    class="h-64 aspect-square overflow-hidden rounded-xl shadow-xl outline outline-1 -outline-offset-1 outline-black/10 sm:block hidden"
                  >
                    <img
                      alt="Een voorbeeld van onze hoogwaardige vloeren"
                      src="{% static 'images/about_us_1.jpg' %}"
                      class="w-full h-full object-cover"
                    />
                  </div>
                  <!-- Image 2 -->
                  <div
                    class="-mt-8 h-64 aspect-square overflow-hidden rounded-xl shadow-xl outline outline-1 -outline-offset-1 outline-black/10 lg:-mt-40 sm:block hidden"
                  >
                    <img
                      alt="Ons team werkt aan snelle levering"
                      src="{% static 'images/about_us_4.jpg' %}"
                      class="w-full h-full object-cover"
                    />
                  </div>
                  <!-- Image 3 -->
                  <div
                    class="h-64 aspect-square overflow-hidden rounded-xl shadow-xl outline outline-1 -outline-offset-1 outline-black/10"
                  >
                    <img
                      alt="Onze producten zijn zorgvuldig geselecteerd"
                      src="{% static 'images/about_us_3.jpg' %}"
                      class="w-full h-full object-cover"
                    />
                  </div>
                  <!-- Image 4 -->
                  <div
                    class="-mt-8 h-64 aspect-square overflow-hidden rounded-xl shadow-xl outline outline-1 -outline-offset-1 outline-black/10 lg:-mt-40"
                  >
                    <img
                      alt="Een klant tevreden met onze vloeren"
                      src="{% static 'images/about_us_2.jpg' %}"
                      class="w-full h-full object-cover"
                    />
                  </div>
                </div>
              </div>

              <div class="max-lg:mt-16 lg:col-span-1">
                <p class="text-base/7 font-semibold text-gray-500">
                  Wij zijn trots op onze cijfers
                </p>
                <hr class="mt-6 border-t border-gray-200" />
                <dl
                  class="mt-6 grid grid-cols-1 gap-x-8 gap-y-4 sm:grid-cols-2"
                >
                  <div
                    class="flex flex-col gap-y-2 border-b border-dotted border-gray-200 pb-4"
                  >
                    <dt class="text-sm/6 text-gray-600">
                      Producten op voorraad
                    </dt>
                    <dd
                      class="order-first text-6xl font-semibold tracking-tight"
                    >
                      <span>1000</span>+
                    </dd>
                  </div>
                  <div
                    class="flex flex-col gap-y-2 border-b border-dotted border-gray-200 pb-4"
                  >
                    <dt class="text-sm/6 text-gray-600">Maximale levertijd</dt>
                    <dd
                      class="order-first text-6xl font-semibold tracking-tight"
                    >
                      <span>96</span>U
                    </dd>
                  </div>
                  <div
                    class="flex flex-col gap-y-2 max-sm:border-b max-sm:border-dotted max-sm:border-gray-200 max-sm:pb-4"
                  >
                    <dt class="text-sm/6 text-gray-600">Klanttevredenheid</dt>
                    <dd
                      class="order-first text-6xl font-semibold tracking-tight"
                    >
                      <span>{{ store_rating_data.percentage }}</span>%
                    </dd>
                  </div>
                  <div class="flex flex-col gap-y-2">
                    <dt class="text-sm/6 text-gray-600">Reactietijd binnen</dt>
                    <dd
                      class="order-first text-6xl font-semibold tracking-tight"
                    >
                      <span>24</span>U
                    </dd>
                  </div>
                </dl>
              </div>
            </section>
          </div>
        </div>
        <div id="team" class="overflow-hidden bg-white pt-16">
          <div class="relative mx-auto max-w-7xl px-6 py-16 lg:px-8">
            <div
              class="absolute bottom-0 left-3/4 top-0 hidden w-screen bg-gray-50 lg:block"
            ></div>
            <div
              class="mx-auto max-w-prose text-base lg:grid lg:max-w-none lg:grid-cols-2 lg:gap-8"
            >
              <div>
                <h2 class="text-lg font-semibold text-orange-500">
                  Dit zijn wij
                </h2>
                <h3
                  class="mt-2 text-3xl/8 font-bold tracking-tight text-gray-900 sm:text-4xl"
                >
                  Multidisciplinair team met 20 jaar ervaring
                </h3>
              </div>
            </div>
            <div class="mt-8 lg:grid lg:grid-cols-2 lg:gap-8">
              <div class="relative lg:col-start-2 lg:row-start-1">
                <div
                  class="relative mx-auto max-w-prose text-base lg:max-w-none"
                >
                  <figure>
                    <img
                      class="aspect-[12/7] w-full rounded-lg object-cover shadow-lg lg:aspect-auto"
                      src="{% static 'images/login_image.webp' %}"
                      alt="Whitney leaning against a railing on a downtown street"
                      width="1184"
                      height="1376"
                    />
                  </figure>
                </div>
              </div>
              <div class="mt-8 lg:col-start-1 lg:mt-0">
                <div class="mx-auto max-w-prose lg:row-start-1 lg:max-w-none">
                  <p class="text-lg/7 text-gray-600">
                    Wij zijn een gepassioneerd en dynamisch team dat al meer dan
                    20 jaar actief is in de vloerenbranche. We brengen een brede
                    expertise samen om jou de beste producten en services te
                    bieden. Het is onze taak om jou de goedkoopste vloer te
                    leveren.
                  </p>
                  <p class="mt-8 text-base/7 text-gray-600">
                    Ons team bestaat uit experts op diverse gebieden: van IT en
                    marketing tot transport en de vloerenbranche. We werken nauw
                    samen om jou de juiste
                    <a class="font-medium text-orange-500" href="/products"
                      >producten</a
                    >
                    te bieden tegen de <strong>beste</strong> prijzen. Of je nu
                    op zoek bent naar productinformatie of hulp bij je
                    <a
                      class="font-medium text-orange-500"
                      href="/payment-return-service#payment"
                      >bestelling</a
                    >, wij staan altijd klaar om je te ondersteunen. Dankzij
                    onze flexibele aanpak kunnen we snel inspelen op jouw
                    specifieke wensen, zodat je altijd met vertrouwen kunt
                    rekenen op de perfecte oplossing voor je vloerproject.
                    <br /><br />
                    Vanaf maart 2025 hebben we besloten om onze vaardigheden te
                    combineren en samen onze nieuwe website
                    <a class="font-medium text-orange-500" href="/"
                      >goedkoopstevloerenshop.nl</a
                    >
                    op te lanceren!
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>{% include 'components/service_section.html' %}</div>
  </main>

  <script>
    window.addEventListener('load', function () {
      // Check if there's a fragment identifier in the URL
      if (window.location.hash) {
        var targetElement = document.querySelector(window.location.hash)

        // If the element is found, focus it
        if (targetElement) {
          targetElement.focus()
        }
      }
    })
  </script>
{% endblock %}
