{% extends 'components/main.html' %}
{% load static tailwind_tags %}

{% block title %}Home{% endblock %}

{% block content %}
  <!--
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->
  <div class="bg-white">
    <div
      class="mx-auto max-w-2xl px-4 pb-24 pt-16 sm:px-6 lg:max-w-7xl lg:px-8"
    >
      <h1 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
        Jouw winkelmandje
      </h1>
      {% if not items %}
        <div class="mt-4">
          {% include 'components/messages/empty_cart_message.html' %}
        </div>
      {% endif %}

      <div
        class="lg:grid lg:grid-cols-12 lg:items-start lg:gap-x-12 xl:gap-x-16"
      >
        <section aria-labelledby="cart-heading" class="lg:col-span-7">
          <h2 id="cart-heading" class="sr-only">Producten in je winkelmand</h2>

          <div class="m-12 bg-gray-50">
            {% if items %}
              <ul
                role="list"
                class="divide-y divide-gray-200 border-b border-t border-gray-200"
              >
                {% for item in items %}
                  <form
                    class="m-12"
                    action="{% url 'delete_cart_item' %}"
                    method="post"
                  >
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{ item.id }}" />

                    {% include 'components/cart_item.html' %}
                  </form>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        </section>

        <!-- Order summary -->
        <!-- Order summary -->
        {% if items %}
          <section
            aria-labelledby="summary-heading"
            class="mt-16 rounded-lg border border-gray-300 bg-gray-100 px-4 py-6 sm:p-6 lg:col-span-5 lg:mt-0 lg:p-8"
          >
            <h2 id="summary-heading" class="text-lg font-medium text-gray-900">
              Order overzicht
            </h2>

            <dl class="mt-6 space-y-4">
              <div class="flex items-center justify-between">
                <dt class="text-sm text-gray-600">Subtotaal</dt>
                <dd class="text-sm font-medium text-gray-900">
                  €{{ cart.sub_price }}
                </dd>
              </div>
              {% if cart.tax_price_low > 0 %}
                <div
                  class="flex items-center justify-between border-t border-gray-200 pt-4"
                >
                  <dt class="flex text-sm text-gray-600">
                    <span>BTW 9%</span>
                    <a
                      href="#"
                      class="ml-2 flex-shrink-0 text-gray-400 hover:text-gray-500"
                      title="Meer informatie over hoe BTW wordt berekend"
                    >
                      <span class="sr-only"
                        >Meer informatie over hoe BTW wordt berekend</span
                      >
                      <svg
                        class="h-5 w-5"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zM8.94 6.94a.75.75 0 11-1.061-1.061 3 3 0 112.871 5.026v.345a.75.75 0 01-1.5 0v-.5c0-.72.57-1.172 1.081-1.287A1.5 1.5 0 108.94 6.94zM10 15a1 1 0 100-2 1 1 0 000 2z"
                          clip-rule="evenodd"
                        />
                      </svg>
                    </a>
                  </dt>
                  <dd class="text-sm font-medium text-gray-900">
                    €{{ cart.tax_price_low }}
                  </dd>
                </div>
              {% endif %}
              {% if cart.tax_price_high > 0 %}
                <div
                  class="flex items-center justify-between border-t border-gray-200 pt-4"
                >
                  <dt class="flex text-sm text-gray-600">
                    <span>BTW 21%</span>
                    <a
                      href="#"
                      class="ml-2 flex-shrink-0 text-gray-400 hover:text-gray-500"
                      title="Meer informatie over hoe BTW wordt berekend"
                    >
                      <span class="sr-only"
                        >Meer informatie over hoe BTW wordt berekend</span
                      >
                      <svg
                        class="h-5 w-5"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zM8.94 6.94a.75.75 0 11-1.061-1.061 3 3 0 112.871 5.026v.345a.75.75 0 01-1.5 0v-.5c0-.72.57-1.172 1.081-1.287A1.5 1.5 0 108.94 6.94zM10 15a1 1 0 100-2 1 1 0 000 2z"
                          clip-rule="evenodd"
                        />
                      </svg>
                    </a>
                  </dt>
                  <dd class="text-sm font-medium text-gray-900">
                    €{{ cart.tax_price_high }}
                  </dd>
                </div>
              {% endif %}

              <div
                class="flex items-center justify-between border-t border-gray-200 pt-4"
              >
                <dt class="text-sm text-gray-600">Verzendkosten</dt>
                <dd class="text-sm font-medium text-gray-900">
                  {% if cart.shipping_price == 0 %}
                    <span class="text-green-500 font-medium text-sm"
                      >Gratis</span
                    >
                  {% else %}
                    €{{ cart.shipping_price }}
                  {% endif %}
                </dd>
              </div>
              <div
                class="flex items-center justify-between border-t border-gray-200 pt-4"
              >
                <dt class="text-base font-medium text-gray-900">
                  Order totaal
                </dt>
                <dd class="text-base font-medium text-gray-900">
                  €{{ cart.total_price }}
                </dd>
              </div>
            </dl>

            <div class="mt-6">
              <a href="{% url 'navigate_checkout' %}">
                <button
                  type="submit"
                  class="w-full rounded-md border border-transparent bg-amber-500 px-4 py-3 text-base font-medium text-white shadow-sm hover:bg-customColor focus:outline-none focus:ring-2 focus:ring-customColor focus:ring-offset-2 focus:ring-offset-gray-50"
                >
                  Naar bestellen
                </button>
              </a>
            </div>
          </section>
        {% endif %}
      </div>
    </div>
    {% include 'components/service_section.html' %}
  </div>
{% endblock %}
