{% extends 'components/main.html' %}
{% load static tailwind_tags %}

{% block title %}Checkout{% endblock %}

{% block content %}
  <!--
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->
  <div class="bg-white">
    {% include 'components/steps.html' %}

    <div
      class="mx-auto max-w-2xl px-4 pb-24 pt-16 sm:px-6 lg:max-w-7xl lg:px-8"
    >
      <h1 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
        Uw gegevens
      </h1>

      <form
        method="POST"
        action="{% url 'order_info' %}"
        class="mt-8 space-y-6"
      >
        {% csrf_token %}
        <div
          class="lg:grid lg:grid-cols-12 lg:items-start lg:gap-x-12 xl:gap-x-16"
        >
          <section aria-labelledby="cart-heading" class="lg:col-span-7">
            <div>
              <div>
                <h2 class="text-lg font-medium text-gray-900 mt-8">
                  Contact informatie
                </h2>
                <div
                  class="mt-4 grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-4"
                >
                  <div>
                    <label
                      for="first-name"
                      class="block text-sm font-medium text-gray-700"
                    >
                      Voornaam <span class="text-red-500">*</span>
                    </label>
                    <div class="mt-1">
                      <input
                        type="text"
                        id="first-name"
                        name="first-name"
                        value="{{ order_info.first_name }}"
                        autocomplete="first-name"
                        class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                        required
                      />
                    </div>
                  </div>

                  <div>
                    <label
                      for="last-name"
                      class="block text-sm font-medium text-gray-700"
                    >
                      Achternaam <span class="text-red-500">*</span>
                    </label>
                    <div class="mt-1">
                      <input
                        type="text"
                        id="last-name"
                        name="last-name"
                        value="{{ order_info.last_name }}"
                        autocomplete="last-name"
                        class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                        required
                      />
                    </div>
                  </div>
                </div>
                <div class="mt-4">
                  <label
                    for="email-address"
                    class="block text-sm font-medium text-gray-700"
                  >
                    E-mailadres <span class="text-red-500">*</span>
                  </label>
                  <div class="mt-1">
                    <input
                      type="email"
                      id="email-address"
                      name="email-address"
                      value="{{ order_info.email }}"
                      autocomplete="email"
                      class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                      required
                    />
                  </div>
                </div>
              </div>

              <div class="mt-10 border-t border-gray-200 pt-10">
                <h2 class="text-lg font-medium text-gray-900">
                  Adres informatie
                </h2>

                <div
                  class="mt-4 grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-4"
                >
                  <div>
                    <label
                      for="address"
                      class="block text-sm font-medium text-gray-700"
                    >
                      Adres <span class="text-red-500">*</span>
                    </label>
                    <div class="mt-1">
                      <input
                        type="text"
                        name="address"
                        id="address"
                        value="{{ order_info.address }}"
                        autocomplete="street-address"
                        class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                        required
                      />
                    </div>
                  </div>

                  <div>
                    <label
                      for="house-number"
                      class="block text-sm font-medium text-gray-700"
                    >
                      Huisnummer <span class="text-red-500">*</span>
                    </label>
                    <div class="mt-1">
                      <input
                        type="text"
                        name="house-number"
                        id="house-number"
                        value="{{ order_info.house_number }}"
                        autocomplete="house-number"
                        class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                        required
                      />
                    </div>
                  </div>

                  <div>
                    <label
                      for="city"
                      class="block text-sm font-medium text-gray-700"
                    >
                      Plaats <span class="text-red-500">*</span>
                    </label>
                    <div class="mt-1">
                      <input
                        type="text"
                        name="city"
                        id="city"
                        value="{{ order_info.city }}"
                        autocomplete="city"
                        class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                        required
                      />
                    </div>
                  </div>
                  <div>
                    <label
                      for="postal-code"
                      class="block text-sm font-medium text-gray-700"
                    >
                      Postcode <span class="text-red-500">*</span>
                    </label>
                    <div class="mt-1">
                      <input
                        type="text"
                        name="postal-code"
                        id="postal-code"
                        value="{{ order_info.postal_code }}"
                        autocomplete="postal-code"
                        class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                        required
                      />
                    </div>
                  </div>
                  <div>
                    <label
                      for="country"
                      class="block text-sm font-medium text-gray-700"
                    >
                      Land <span class="text-red-500">*</span>
                    </label>
                    <div class="mt-1">
                      <select
                        id="country"
                        name="country"
                        autocomplete="country"
                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6"
                      >
                        {% if order_info.country == "Nederland" %}
                          <option value="Nederland" selected>Nederland</option>
                        {% else %}
                          <option value="Nederland">Nederland</option>
                        {% endif %}
                        {% if order_info.country == "Duitsland" %}
                          <option value="Duitsland" selected>Duitsland</option>
                        {% else %}
                          <option value="Duitsland">Duitsland</option>
                        {% endif %}
                        {% if order_info.country == "België" %}
                          <option value="België" selected>België</option>
                        {% else %}
                          <option value="België">België</option>
                        {% endif %}
                      </select>
                    </div>
                  </div>

                  <div class="sm:col-span-2">
                    <label
                      for="phone"
                      class="block text-sm font-medium text-gray-700"
                    >
                      Telefoonnummer <span class="text-red-500">*</span>
                    </label>
                    <div class="mt-1">
                      <input
                        type="text"
                        name="phone"
                        id="phone"
                        value="{% if user.phone_number %}{{ order_info.phone_number }}{% endif %}"
                        class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                        required
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <button
              type="submit"
              class="mt-8 w-full rounded-md border border-transparent bg-amber-500 px-4 py-3 text-base font-medium text-white shadow-sm hover:bg-customColor focus:outline-none focus:ring-2 focus:ring-customColor focus:ring-offset-2 focus:ring-offset-gray-50"
            >
              Naar betalen
            </button>
          </section>

          <!-- Order summary -->
          <!-- Order summary -->

          <section
            aria-labelledby="summary-heading"
            class="mt-16 rounded-lg border border-gray-300 bg-gray-100 px-4 py-6 sm:p-6 lg:col-span-5 lg:mt-0 lg:p-8"
          >
            <h2 id="summary-heading" class="text-lg font-medium text-gray-900">
              Order overzicht
            </h2>

            <dl class="mt-6 space-y-4">
              <div class="flex items-center justify-between">
                <dt class="text-sm text-gray-600">Subtotaal</dt>
                <dd class="text-sm font-medium text-gray-900">
                  €{{ cart.sub_price }}
                </dd>
              </div>
              <div
                class="flex items-center justify-between border-t border-gray-200 pt-4"
              >
                <dt class="flex text-sm text-gray-600">
                  <span>BTW 9%</span>
                  <a
                    href="#"
                    class="ml-2 flex-shrink-0 text-gray-400 hover:text-gray-500"
                  >
                    <span class="sr-only"
                      >Learn more about how tax is calculated</span
                    >
                    <svg
                      class="h-5 w-5"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zM8.94 6.94a.75.75 0 11-1.061-1.061 3 3 0 112.871 5.026v.345a.75.75 0 01-1.5 0v-.5c0-.72.57-1.172 1.081-1.287A1.5 1.5 0 108.94 6.94zM10 15a1 1 0 100-2 1 1 0 000 2z"
                        clip-rule="evenodd"
                      />
                    </svg>
                  </a>
                </dt>
                <dd class="text-sm font-medium text-gray-900">
                  €{{ cart.tax_price_low }}
                </dd>
              </div>
              <div
                class="flex items-center justify-between border-t border-gray-200 pt-4"
              >
                <dt class="flex text-sm text-gray-600">
                  <span>BTW 21%</span>
                  <a
                    href="#"
                    class="ml-2 flex-shrink-0 text-gray-400 hover:text-gray-500"
                  >
                    <span class="sr-only"
                      >Learn more about how tax is calculated</span
                    >
                    <svg
                      class="h-5 w-5"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zM8.94 6.94a.75.75 0 11-1.061-1.061 3 3 0 112.871 5.026v.345a.75.75 0 01-1.5 0v-.5c0-.72.57-1.172 1.081-1.287A1.5 1.5 0 108.94 6.94zM10 15a1 1 0 100-2 1 1 0 000 2z"
                        clip-rule="evenodd"
                      />
                    </svg>
                  </a>
                </dt>
                <dd class="text-sm font-medium text-gray-900">
                  €{{ cart.tax_price_high }}
                </dd>
              </div>

              <div
                class="flex items-center justify-between border-t border-gray-200 pt-4"
              >
                <dt class="text-sm text-gray-600">Verzendkosten</dt>
                <dd class="text-sm font-medium text-gray-900">
                  {% if cart.shipping_price == 0 %}
                    <span class="text-green-500 font-medium text-sm"
                      >Gratis</span
                    >
                  {% else %}
                    €{{ cart.shipping_price }}
                  {% endif %}
                </dd>
              </div>

              <div
                class="flex items-center justify-between border-t border-gray-200 pt-4"
              >
                <dt class="text-base font-medium text-gray-900">
                  Order totaal
                </dt>
                <dd class="text-base font-medium text-gray-900">
                  €{{ cart.total_price }}
                </dd>
              </div>
            </dl>
          </section>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
