{% extends 'components/main.html' %}
{% load static tailwind_tags %}

{% block title %}Checkout{% endblock %}

{% block content %}
  <!--
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->
  <div class="bg-white">
    {% include 'components/steps.html' %}

    <div
      class="mx-auto max-w-2xl px-4 pb-24 pt-16 sm:px-6 lg:max-w-7xl lg:px-8"
    >
      <h1 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
        Uw gegevens
      </h1>

      <form
        id="checkout-form"
        method="POST"
        action="{% url 'order_info' %}"
        class="mt-8 space-y-6"
      >
        {% csrf_token %}
        <input
          type="hidden"
          name="billing_toggle"
          id="billing_toggle_input"
          value="{{ order_info.alternate_billing }}"
        />

        <div
          class="lg:grid lg:grid-cols-12 lg:items-start lg:gap-x-12 xl:gap-x-16"
        >
          <section aria-labelledby="cart-heading" class="lg:col-span-7">
            <div>
              <div>
                <h2 class="text-lg font-medium text-gray-900 mt-8">
                  Contact informatie
                </h2>

                <div class="py-4">
                  <label
                    class="block text-sm font-medium leading-6 text-gray-900"
                    >Aanhef <span class="text-red-500">*</span></label
                  >
                  <p class="text-sm text-gray-500">
                    Hoe zou je graag aangesproken willen worden?
                  </p>
                  <fieldset class="mt-4">
                    <legend class="sr-only">Aanhef</legend>
                    <div
                      class="space-y-4 sm:flex sm:items-center sm:space-x-10 sm:space-y-0"
                    >
                      <div class="flex items-center">
                        <input
                          id="salutation-meneer"
                          name="salutation"
                          type="radio"
                          value="Dhr"
                          required
                          {% if order_info.salutation == "Meneer" %}checked{% endif %}
                          class="h-4 w-4 border-gray-300 text-orange-500 focus:ring-orange-400"
                        />
                        <label
                          for="salutation-meneer"
                          class="ml-3 block text-sm font-medium leading-6 text-gray-900"
                          >Meneer</label
                        >
                      </div>
                      <div class="flex items-center">
                        <input
                          id="salutation-mevrouw"
                          name="salutation"
                          type="radio"
                          value="Mevr"
                          {% if order_info.salutation == "Mevrouw" %}checked{% endif %}
                          class="h-4 w-4 border-gray-300 text-orange-500 focus:ring-orange-400"
                        />
                        <label
                          for="salutation-mevrouw"
                          class="ml-3 block text-sm font-medium leading-6 text-gray-900"
                          >Mevrouw</label
                        >
                      </div>
                      <div class="flex items-center">
                        <input
                          id="no-salutation"
                          name="salutation"
                          type="radio"
                          value="Geen van beiden"
                          {% if order_info.salutation == "Geen van beiden" %}checked{% endif %}
                          class="h-4 w-4 border-gray-300 text-orange-500 focus:ring-orange-400"
                        />
                        <label
                          for="no-salutation"
                          class="ml-3 block text-sm font-medium leading-6 text-gray-900"
                          >Geen van beiden</label
                        >
                      </div>
                    </div>
                  </fieldset>
                </div>

                <div
                  class="mt-4 grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-4"
                >
                  <div>
                    <label
                      for="first_name"
                      class="block text-sm font-medium text-gray-700"
                    >
                      Voornaam <span class="text-red-500">*</span>
                    </label>
                    <div class="mt-1">
                      <input
                        type="text"
                        id="first_name"
                        name="first_name"
                        value="{{ order_info.first_name }}"
                        autocomplete="first_name"
                        class="block w-full rounded-md border-gray-300 shadow-sm focus:border-orange-500 focus:ring-orange-500 sm:text-sm"
                        required
                      />
                    </div>
                  </div>

                  <div>
                    <label
                      for="last_name"
                      class="block text-sm font-medium text-gray-700"
                    >
                      Achternaam <span class="text-red-500">*</span>
                    </label>
                    <div class="mt-1">
                      <input
                        type="text"
                        id="last_name"
                        name="last_name"
                        value="{{ order_info.last_name }}"
                        autocomplete="last_name"
                        class="block w-full rounded-md border-gray-300 shadow-sm focus:border-orange-500 focus:ring-orange-500 sm:text-sm"
                        required
                      />
                    </div>
                  </div>
                </div>
                <div class="mt-4">
                  <label
                    for="email_address"
                    class="block text-sm font-medium text-gray-700"
                  >
                    E-mailadres <span class="text-red-500">*</span>
                  </label>
                  <div class="mt-1">
                    <input
                      type="email"
                      id="email_address"
                      name="email_address"
                      value="{{ order_info.email }}"
                      autocomplete="email_address"
                      class="block w-full rounded-md border-gray-300 shadow-sm focus:border-orange-500 focus:ring-orange-500 sm:text-sm"
                      required
                    />
                  </div>
                </div>
                <div class="mt-4">
                  <label
                    for="phone"
                    class="block text-sm font-medium text-gray-700"
                  >
                    Telefoonnummer <span class="text-red-500">*</span>
                  </label>
                  <div class="mt-1">
                    <input
                      type="text"
                      name="phone"
                      id="phone"
                      autocomplete="phone"
                      value="{{ order_info.phone }}"
                      class="block w-full rounded-md border-gray-300 shadow-sm focus:border-orange-500 focus:ring-orange-500 sm:text-sm"
                      required
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="mt-10 border-t border-gray-200 pt-10">
              <div class="flex justify-start">
                <h2 class="text-lg font-medium text-gray-900">
                  Adres informatie
                </h2>
                <div class=" pl-4 flex items-center">
                  <!-- Toggle Switch -->
                  <button
                    id="billing_toggle"
                    type="button"
                    class="relative inline-flex h-6 w-11 shrink-0 cursor-pointer rounded-full border-2 border-transparent bg-gray-200 transition-colors duration-200 ease-in-out focus:outline-none focus:ring-2 focus:ring-orange-500 focus:ring-offset-2"
                    role="switch"
                    aria-checked="false"
                    aria-labelledby="billing_toggle_label"
                    onclick="toggleBilling()"
                  >
                    <span
                      id="billing_toggle_thumb"
                      aria-hidden="true"
                      class="pointer-events-none inline-block h-5 w-5 transform rounded-full bg-white shadow ring-0 transition duration-200 ease-in-out translate-x-0"
                    ></span>
                  </button>
                  <!-- Toggle Label -->
                  <span class="ml-3 text-sm" id="billing_toggle_label">
                    <!-- <span class="font-medium text-gray-900"
                      >Afwijkend factuuradres?</span
                    > -->
                    <span class="text-gray-500">Afwijkend factuuradres?</span>
                  </span>
                </div>
              </div>

              <div
                class="mt-4 grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-4"
              >
                <div>
                  <label
                    for="address"
                    class="block text-sm font-medium text-gray-700"
                  >
                    Adres <span class="text-red-500">*</span>
                  </label>
                  <div class="mt-1">
                    <input
                      type="text"
                      name="address"
                      id="address"
                      value="{{ order_info.address }}"
                      autocomplete="address"
                      class="block w-full rounded-md border-gray-300 shadow-sm focus:border-orange-500 focus:ring-orange-500 sm:text-sm"
                      required
                    />
                  </div>
                </div>

                <div>
                  <label
                    for="house_number"
                    class="block text-sm font-medium text-gray-700"
                  >
                    Huisnummer <span class="text-red-500">*</span>
                  </label>
                  <div class="mt-1">
                    <input
                      type="text"
                      name="house_number"
                      id="house_number"
                      value="{{ order_info.house_number }}"
                      autocomplete="house_number"
                      class="block w-full rounded-md border-gray-300 shadow-sm focus:border-orange-500 focus:ring-orange-500 sm:text-sm"
                      required
                    />
                  </div>
                </div>

                <div>
                  <label
                    for="city"
                    class="block text-sm font-medium text-gray-700"
                  >
                    Plaats <span class="text-red-500">*</span>
                  </label>
                  <div class="mt-1">
                    <input
                      type="text"
                      name="city"
                      id="city"
                      value="{{ order_info.city }}"
                      autocomplete="city"
                      class="block w-full rounded-md border-gray-300 shadow-sm focus:border-orange-500 focus:ring-orange-500 sm:text-sm"
                      required
                    />
                  </div>
                </div>
                <div>
                  <label
                    for="postal-code"
                    class="block text-sm font-medium text-gray-700"
                  >
                    Postcode <span class="text-red-500">*</span>
                  </label>
                  <div class="mt-1">
                    <input
                      type="text"
                      name="postal_code"
                      id="postal_code"
                      value="{{ order_info.postal_code }}"
                      autocomplete="postal_code"
                      class="block w-full rounded-md border-gray-300 shadow-sm focus:border-orange-500 focus:ring-orange-500 sm:text-sm"
                      required
                    />
                  </div>
                </div>
                <div>
                  <label
                    for="country"
                    class="block text-sm font-medium text-gray-700"
                  >
                    Land <span class="text-red-500">*</span>
                  </label>
                  <div class="mt-1">
                    <select
                      id="country"
                      name="country"
                      autocomplete="country"
                      class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-orange-600 sm:max-w-xs sm:text-sm sm:leading-6"
                    >
                      {% if order_info.country == "Nederland" %}
                        <option value="Nederland" selected>Nederland</option>
                      {% else %}
                        <option value="Nederland">Nederland</option>
                      {% endif %}
                      {% if order_info.country == "Duitsland" %}
                        <option value="Duitsland" selected>Duitsland</option>
                      {% else %}
                        <option value="Duitsland">Duitsland</option>
                      {% endif %}
                      {% if order_info.country == "België" %}
                        <option value="België" selected>België</option>
                      {% else %}
                        <option value="België">België</option>
                      {% endif %}
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <!-- Additional Billing Address Fields (Hidden by Default) -->
            <div
              id="alternate_billing"
              class="mt-10 border-t border-gray-200 pt-10 hidden"
            >
              <h2 class="text-lg font-medium text-gray-900">Factuuradres</h2>
              <div
                class="mt-4 grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-4"
              >
                <div>
                  <label
                    for="billing_address"
                    class="block text-sm font-medium text-gray-700"
                  >
                    Adres <span class="text-red-500">*</span>
                  </label>
                  <div class="mt-1">
                    <input
                      type="text"
                      name="billing_address"
                      id="billing_address"
                      value="{{ order_info.billing_address }}"
                      autocomplete="billing_address"
                      class="block w-full rounded-md border-gray-300 shadow-sm focus:border-orange-500 focus:ring-orange-500 sm:text-sm"
                      required
                    />
                  </div>
                </div>
                <div>
                  <label
                    for="billing_house_number"
                    class="block text-sm font-medium text-gray-700"
                  >
                    Huisnummer <span class="text-red-500">*</span>
                  </label>
                  <div class="mt-1">
                    <input
                      type="text"
                      name="billing_house_number"
                      id="billing_house_number"
                      value="{{ order_info.billing_house_number }}"
                      autocomplete="billing_house_number"
                      class="block w-full rounded-md border-gray-300 shadow-sm focus:border-orange-500 focus:ring-orange-500 sm:text-sm"
                      required
                    />
                  </div>
                </div>
                <div>
                  <label
                    for="billing_city"
                    class="block text-sm font-medium text-gray-700"
                  >
                    Plaats <span class="text-red-500">*</span>
                  </label>
                  <div class="mt-1">
                    <input
                      type="text"
                      name="billing_city"
                      id="billing_city"
                      value="{{ order_info.billing_city }}"
                      autocomplete="billing_city"
                      class="block w-full rounded-md border-gray-300 shadow-sm focus:border-orange-500 focus:ring-orange-500 sm:text-sm"
                      required
                    />
                  </div>
                </div>
                <div>
                  <label
                    for="billing_postal_code"
                    class="block text-sm font-medium text-gray-700"
                  >
                    Postcode <span class="text-red-500">*</span>
                  </label>
                  <div class="mt-1">
                    <input
                      type="text"
                      name="billing_postal_code"
                      id="billing_postal_code"
                      value="{{ order_info.billing_postal_code }}"
                      autocomplete="billing_postal_code"
                      class="block w-full rounded-md border-gray-300 shadow-sm focus:border-orange-500 focus:ring-orange-500 sm:text-sm"
                      required
                    />
                  </div>
                </div>
                <div>
                  <label
                    for="billing_country"
                    class="block text-sm font-medium text-gray-700"
                  >
                    Land <span class="text-red-500">*</span>
                  </label>
                  <div class="mt-1">
                    <select
                      id="billing_country"
                      name="billing_country"
                      autocomplete="billing_country"
                      value="{{ order_info.billing_country }}"
                      class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-orange-600 sm:max-w-xs sm:text-sm sm:leading-6"
                    >
                      {% if order_info.billing_country == "Nederland" %}
                        <option value="Nederland" selected>Nederland</option>
                      {% else %}
                        <option value="Nederland">Nederland</option>
                      {% endif %}
                      {% if order_info.billing_country == "Duitsland" %}
                        <option value="Duitsland" selected>Duitsland</option>
                      {% else %}
                        <option value="Duitsland">Duitsland</option>
                      {% endif %}
                      {% if order_info.billing_country == "België" %}
                        <option value="België" selected>België</option>
                      {% else %}
                        <option value="België">België</option>
                      {% endif %}
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <button
              type="submit"
              class="mt-8 w-full rounded-md border border-transparent bg-orange-500 px-4 py-3 text-base font-medium text-white shadow-sm hover:bg-orange-400 focus:outline-none focus:ring-2 focus:ring-orange-400 focus:ring-offset-2 focus:ring-offset-gray-50"
            >
              Naar betalen
            </button>
          </section>

          <!-- Order summary -->
          <!-- Order summary -->

          <section
            aria-labelledby="summary-heading"
            class="mt-16 rounded-lg border border-gray-300 bg-gray-100 px-4 py-6 sm:p-6 lg:col-span-5 lg:mt-0 lg:p-8"
          >
            <h2 id="summary-heading" class="text-lg font-medium text-gray-900">
              Order overzicht
            </h2>

            <dl class="mt-6 space-y-4">
              <div class="flex items-center justify-between">
                <dt class="text-sm text-gray-600">Subtotaal</dt>
                <dd class="text-sm font-medium text-gray-900">
                  €{{ cart.sub_price }}
                </dd>
              </div>
              {% if cart.tax_low > 0 %}
                <div
                  class="flex items-center justify-between border-t border-gray-200 pt-4"
                >
                  <dt class="flex text-sm text-gray-600">
                    <span>BTW 9%</span>
                    <a
                      href="/terms-and-conditions/#tax"
                      class="ml-2 flex-shrink-0 text-gray-400 hover:text-gray-500"
                      title="Meer informatie over hoe BTW wordt berekend"
                    >
                      <span class="sr-only"
                        >Meer informatie over hoe BTW wordt berekend</span
                      >
                      <svg
                        class="h-5 w-5"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zM8.94 6.94a.75.75 0 11-1.061-1.061 3 3 0 112.871 5.026v.345a.75.75 0 01-1.5 0v-.5c0-.72.57-1.172 1.081-1.287A1.5 1.5 0 108.94 6.94zM10 15a1 1 0 100-2 1 1 0 000 2z"
                          clip-rule="evenodd"
                        />
                      </svg>
                    </a>
                  </dt>
                  <dd class="text-sm font-medium text-gray-900">
                    €{{ cart.tax_price_low }}
                  </dd>
                </div>
              {% endif %}
              {% if cart.tax_price_high > 0 %}
                <div
                  class="flex items-center justify-between border-t border-gray-200 pt-4"
                >
                  <dt class="flex text-sm text-gray-600">
                    <span>BTW 21%</span>
                    <a
                      href="/terms-and-conditions/#tax"
                      class="ml-2 flex-shrink-0 text-gray-400 hover:text-gray-500"
                      title="Meer informatie over hoe BTW wordt berekend"
                    >
                      <span class="sr-only"
                        >Meer informatie over hoe BTW wordt berekend</span
                      >
                      <svg
                        class="h-5 w-5"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zM8.94 6.94a.75.75 0 11-1.061-1.061 3 3 0 112.871 5.026v.345a.75.75 0 01-1.5 0v-.5c0-.72.57-1.172 1.081-1.287A1.5 1.5 0 108.94 6.94zM10 15a1 1 0 100-2 1 1 0 000 2z"
                          clip-rule="evenodd"
                        />
                      </svg>
                    </a>
                  </dt>
                  <dd class="text-sm font-medium text-gray-900">
                    €{{ cart.tax_price_high }}
                  </dd>
                </div>
              {% endif %}
              <div
                class="flex items-center justify-between border-t border-gray-200 pt-4"
              >
                <dt class="text-sm text-gray-600">Verzendkosten</dt>
                <dd class="text-sm font-medium text-gray-900">
                  {% if cart.shipping_price == 0 %}
                    <span class="text-green-500 font-medium text-sm"
                      >Gratis</span
                    >
                  {% else %}
                    €{{ cart.shipping_price }}
                  {% endif %}
                </dd>
              </div>

              <div
                class="flex items-center justify-between border-t border-gray-200 pt-4"
              >
                <dt class="text-base font-medium text-gray-900">
                  Order totaal
                </dt>
                <dd class="text-base font-medium text-gray-900">
                  €{{ cart.total_price }}
                </dd>
              </div>
            </dl>
          </section>
        </div>
      </form>
    </div>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      // Get the hidden input element
      const billingToggleInput = document.getElementById('billing_toggle_input')

      // Get its value
      const initialBillingState = billingToggleInput.value === 'true'

      // Use this value to initialize your billing toggle logic
      initializeBillingToggle(initialBillingState)
    })

    // Function to initialize the toggle based on the initial value
    function initializeBillingToggle(isActive) {
      const toggle = document.getElementById('billing_toggle')
      const thumb = document.getElementById('billing_toggle_thumb')
      const alternateBilling = document.getElementById('alternate_billing')
      const billingFields = alternateBilling.querySelectorAll('input')
      const hiddenInput = document.getElementById('billing_toggle_input') // Hidden input for the toggle value

      if (isActive) {
        // Set toggle to active state
        toggle.setAttribute('aria-checked', 'true')
        toggle.classList.remove('bg-gray-200')
        toggle.classList.add('bg-orange-500')
        thumb.classList.remove('translate-x-0')
        thumb.classList.add('translate-x-5')
        alternateBilling.classList.remove('hidden')
        hiddenInput.value = 'true'

        // Enable input fields for form submission
        billingFields.forEach((field) => {
          field.disabled = false
        })
      } else {
        // Set toggle to inactive state
        toggle.setAttribute('aria-checked', 'false')
        toggle.classList.remove('bg-orange-500')
        toggle.classList.add('bg-gray-200')
        thumb.classList.remove('translate-x-5')
        thumb.classList.add('translate-x-0')
        alternateBilling.classList.add('hidden')
        hiddenInput.value = 'false'

        // Disable input fields to exclude them from form submission
        billingFields.forEach((field) => {
          field.disabled = true
        })
      }
    }

    // Function to handle toggle changes
    function toggleBilling() {
      const toggle = document.getElementById('billing_toggle')
      const thumb = document.getElementById('billing_toggle_thumb')
      const alternateBilling = document.getElementById('alternate_billing')
      const billingFields = alternateBilling.querySelectorAll('input')
      const hiddenInput = document.getElementById('billing_toggle_input') // Hidden input for the toggle value

      const isActive = toggle.getAttribute('aria-checked') === 'true'

      if (isActive) {
        // Switch to inactive state
        toggle.setAttribute('aria-checked', 'false')
        toggle.classList.remove('bg-orange-500')
        toggle.classList.add('bg-gray-200')
        thumb.classList.remove('translate-x-5')
        thumb.classList.add('translate-x-0')
        alternateBilling.classList.add('hidden')
        hiddenInput.value = 'false'

        // Disable input fields to exclude them from form submission
        billingFields.forEach((field) => {
          field.disabled = true
        })
      } else {
        // Switch to active state
        toggle.setAttribute('aria-checked', 'true')
        toggle.classList.remove('bg-gray-200')
        toggle.classList.add('bg-orange-500')
        thumb.classList.remove('translate-x-0')
        thumb.classList.add('translate-x-5')
        alternateBilling.classList.remove('hidden')
        hiddenInput.value = 'true'

        // Enable input fields for form submission
        billingFields.forEach((field) => {
          field.disabled = false
        })
      }
    }
  </script>
{% endblock %}
