{% load static tailwind_tags %}
{% if user.is_authenticated %}
  <script>
    window.location.href = '{% url 'account' %}'
  </script>
{% else %}
  <!doctype html>
  <html lang="en">
    <head>
      <title>{% block title %}{% endblock %}</title>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta http-equiv="X-UA-Compatible" content="ie=edge" />
      {% tailwind_css %}
      <link
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        rel="stylesheet"
      />
    </head>

    <body>
      <main>
        <div class="flex min-h-screen">
          <div
            class="flex flex-1 flex-col justify-center px-4 py-12 sm:px-6 lg:flex-none lg:px-20 xl:px-24"
          >
            <!-- <div class="flex items-center justify-start gap-x-2 pb-6">
                    <button type="button" onclick="history.back()"
                        class="flex items-center rounded-md bg-transparent px-3 py-2 text-sm font-semibold text-orange-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange-400 hover:text-customColor">
                        <span style="transform: scaleX(-1);">&#10132;</span> Terug
                    </button>
                </div> -->

            <div class="mx-auto w-full max-w-sm lg:w-96">
              {% if error_message %}
                <div class="pb-6">
                  {% include 'components/messages/failed_message.html' %}
                </div>
              {% endif %}
              <div>
                <img
                  class="h-20 w-auto"
                  src="{% static 'images/gvs_logo_plain.png' %}"
                  alt="Your Company"
                />
                <h2
                  class="mt-8 text-2xl font-bold leading-9 tracking-tight text-gray-900"
                >
                  Nieuw wachtwoord aanmaken
                </h2>
                <p class="mt-2 text-sm leading-6 text-gray-500">
                  Heb je deze link niet aangevraagd?
                  <a
                    href="/login"
                    class="font-semibold text-orange-400 hover:text-customColor"
                    >Terug naar login</a
                  >
                </p>
              </div>

              <div class="mt-10">
                <div>
                  <form
                    action="{% url 'new_password' token=token %}"
                    method="post"
                    class="space-y-6"
                  >
                    {% csrf_token %}

                    <div>
                      <label
                        for="new_password1"
                        class="block text-sm font-medium leading-6 text-gray-900"
                        >Nieuw wachtwoord</label
                      >
                      <div class="mt-2">
                        <input
                          id="new_password1"
                          name="new_password1"
                          type="password"
                          autocomplete="new-password"
                          required
                          class="block w-full rounded-md border-0 py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-orange-600 sm:text-sm sm:leading-6"
                        />
                      </div>
                    </div>

                    <div class="pb-6">
                      <label
                        for="new_password2"
                        class="block text-sm font-medium leading-6 text-gray-900"
                        >Herhaal nieuw wachtwoord</label
                      >
                      <div class="mt-2">
                        <input
                          id="new_password2"
                          name="new_password2"
                          type="password"
                          autocomplete="new-password"
                          required
                          class="block w-full rounded-md border-0 py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-orange-600 sm:text-sm sm:leading-6"
                        />
                      </div>
                    </div>

                    <div>
                      <button
                        type="submit"
                        class="flex w-full justify-center rounded-md bg-orange-400 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-customColor focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange-600"
                      >
                        Aanpassen
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="relative hidden w-0 flex-1 lg:block">
            <img
              class="absolute inset-0 h-full w-full object-cover"
              src="{% static 'images/login_image.jpg' %}"
              alt=""
            />
          </div>
        </div>
      </main>
    </body>
  </html>
{% endif %}
