{% extends 'components/main.html' %} {% load static tailwind_tags %}
{% block title %}
  Checkout
{% endblock %}
{% block content %}
  <!--
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"
  />

  <div class="bg-white">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    {% include 'components/steps.html' %}

    <div
      class="mx-auto max-w-2xl px-4 pb-24 pt-16 sm:px-6 lg:max-w-7xl lg:px-8"
    >
      <h1 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
        Verzending & betaling
      </h1>

      <form
        id="confirmation-form"
        method="POST"
        action="{% url 'confirm_order' %}"
        class="mt-8 space-y-6"
      >
        {% csrf_token %}
        <div
          class="lg:grid lg:grid-cols-12 lg:items-start lg:gap-x-12 xl:gap-x-16"
        >
          <section aria-labelledby="cart-heading" class="lg:col-span-7">
            <div>
              <div>
                <fieldset>
                  <legend class="text-lg font-medium text-gray-900">
                    Bezorgingsmethode <span class="text-red-500">*</span>
                  </legend>

                  <div
                    class="mt-4 grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-4"
                  >
                    {% for delivery_method in delivery_methods %}
                      {% include 'components/delivery_method.html' %}
                    {% endfor %}
                  </div>
                  <p
                    id="select-delivery-method-error"
                    hidden
                    class="text-red-500 text-sm mt-1"
                  >
                    Selecteer een verzendmethode.
                  </p>
                </fieldset>
              </div>

              <div class="mt-10 border-t border-gray-200 pt-10">
                <h2 class="text-lg font-medium text-gray-900">
                  Afhaal/bezorgdatum <span class="text-red-500">*</span>
                </h2>

                <div class="mt-6 grid grid-cols-4 gap-x-4 gap-y-6">
                  <div class="col-span-4">
                    <label
                      for="card-number"
                      class="block text-sm font-medium text-gray-700"
                      >Kies je gewenste datum</label
                    >
                    <div class="mt-1">
                      <input
                        type="text"
                        id="datepicker"
                        name="delivery_date"
                        class="block w-full rounded-md border-gray-300 shadow-sm focus:border-orange-500 focus:ring-orange-500 sm:text-sm"
                      />
                      <p
                        id="select-delivery-date-error"
                        hidden
                        class="text-red-500 text-sm mt-1"
                      >
                        Dit veld is verplicht.
                      </p>

                      <!-- <input type="text" id="card-number" name="card-number" autocomplete="cc-number"
                                            class="block w-full rounded-md border-gray-300 shadow-sm focus:border-orange-500 focus:ring-orange-500 sm:text-sm"> -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="mt-10 border-t border-gray-200 pt-10">
                <input type="hidden" name="selected_delivery_method" />

                {% include 'components/payment_selection.html' %}
              </div>
            </div>
          </section>

          <!-- Order summary -->

          <section
            aria-labelledby="summary-heading"
            class="mt-16 rounded-lg border border-gray-300 bg-gray-100 px-4 py-6 sm:p-6 lg:col-span-5 lg:mt-0 lg:p-8"
          >
            <h2 id="summary-heading" class="text-lg font-medium text-gray-900">
              Order overzicht
            </h2>

            <dl class="mt-6 space-y-4">
              <div class="flex items-center justify-between">
                <dt class="text-sm text-gray-600">Subtotaal</dt>
                <dd class="text-sm font-medium text-gray-900">
                  €{{ cart.sub_price }}
                </dd>
              </div>
              {% if cart.tax_price_low > 0 %}
                <div
                  class="flex items-center justify-between border-t border-gray-200 pt-4"
                >
                  <dt class="flex text-sm text-gray-600">
                    <span>BTW 9%</span>
                    <a
                      href="#"
                      class="ml-2 flex-shrink-0 text-gray-400 hover:text-gray-500"
                      title="Meer informatie over hoe BTW wordt berekend"
                    >
                      <span class="sr-only"
                        >Meer informatie over hoe BTW wordt berekend</span
                      >
                      <svg
                        class="h-5 w-5"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zM8.94 6.94a.75.75 0 11-1.061-1.061 3 3 0 112.871 5.026v.345a.75.75 0 01-1.5 0v-.5c0-.72.57-1.172 1.081-1.287A1.5 1.5 0 108.94 6.94zM10 15a1 1 0 100-2 1 1 0 000 2z"
                          clip-rule="evenodd"
                        />
                      </svg>
                    </a>
                  </dt>
                  <dd class="text-sm font-medium text-gray-900">
                    €{{ cart.tax_price_low }}
                  </dd>
                </div>
              {% endif %}

              {% if cart.tax_price_high > 0 %}
                <div
                  class="flex items-center justify-between border-t border-gray-200 pt-4"
                >
                  <dt class="flex text-sm text-gray-600">
                    <span>BTW 21%</span>
                    <a
                      href="#"
                      class="ml-2 flex-shrink-0 text-gray-400 hover:text-gray-500"
                      title="Meer informatie over hoe BTW wordt berekend"
                    >
                      <span class="sr-only"
                        >Meer informatie over hoe BTW wordt berekend</span
                      >
                      <svg
                        class="h-5 w-5"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zM8.94 6.94a.75.75 0 11-1.061-1.061 3 3 0 112.871 5.026v.345a.75.75 0 01-1.5 0v-.5c0-.72.57-1.172 1.081-1.287A1.5 1.5 0 108.94 6.94zM10 15a1 1 0 100-2 1 1 0 000 2z"
                          clip-rule="evenodd"
                        />
                      </svg>
                    </a>
                  </dt>
                  <dd class="text-sm font-medium text-gray-900">
                    €{{ cart.tax_price_high }}
                  </dd>
                </div>
              {% endif %}
              <div
                class="flex items-center justify-between border-t border-gray-200 pt-4"
              >
                <dt class="text-sm text-gray-600">Verzendkosten</dt>
                <dd class="text-sm font-medium text-gray-900">
                  {% if cart.shipping_price == 0 %}
                    <span class="text-green-500 font-medium text-sm"
                      >Gratis</span
                    >
                  {% else %}
                    €{{ cart.shipping_price }}
                  {% endif %}
                </dd>
              </div>

              <div
                class="flex items-center justify-between border-t border-gray-200 pt-4"
              >
                <dt class="text-base font-medium text-gray-900">
                  Order totaal
                </dt>
                <dd class="text-base font-medium text-gray-900">
                  €{{ cart.total_price }}
                </dd>
              </div>
            </dl>
            <div class="mt-6">
              <button
                type="submit"
                class="w-full rounded-md border border-transparent bg-orange-400 px-4 py-3 text-base font-medium text-white shadow-sm hover:bg-customColor focus:outline-none focus:ring-2 focus:ring-customColor focus:ring-offset-2 focus:ring-offset-gray-50"
              >
                Betalen
              </button>
            </div>
          </section>
        </div>
      </form>
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      flatpickr('#datepicker', {
        dateFormat: 'd-m-Y',
        minDate: 'today',
        position: 'below',
        disable: [
          function (date) {
            return date.getDay() === 0 || date.getDay() === 6
          },
        ],
      })

      const form = document.getElementById('confirmation-form')

      form.addEventListener('submit', function (event) {
        const errorMessageIssuer = document.getElementById(
          'select-issuer-error',
        )
        const errorMessageDeliveryMethod = document.getElementById(
          'select-delivery-method-error',
        )
        const errorMessageDeliveryDate = document.getElementById(
          'select-delivery-date-error',
        )

        const selectedIssuer = issuerSelect.value

        const selectedDeliveryMethodInput = form.querySelector(
          'input[name="selected_delivery_method"]',
        )
        const selectedDeliveryMethod = selectedDeliveryMethodInput
          ? selectedDeliveryMethodInput.value.trim()
          : ''

        const selectedDeliveryDateInput = form.querySelector(
          'input[name="delivery_date"]',
        )
        const selectedDeliveryDate = selectedDeliveryDateInput
          ? selectedDeliveryDateInput.value.trim()
          : ''

        if (!selectedDeliveryDate) {
          event.preventDefault()
          errorMessageDeliveryDate.removeAttribute('hidden')
        } else {
          errorMessageDeliveryDate.setAttribute('hidden', true)
        }

        if (!selectedDeliveryMethod) {
          event.preventDefault()
          errorMessageDeliveryMethod.removeAttribute('hidden')
        } else {
          errorMessageDeliveryMethod.setAttribute('hidden', true)
        }

        if (!selectedIssuer || selectedIssuer === '') {
          event.preventDefault()
          errorMessageIssuer.removeAttribute('hidden')
        } else {
          errorMessageIssuer.setAttribute('hidden')
        }
      })
    })
  </script>
{% endblock %}
