{% extends 'components/main.html' %}
{% load static tailwind_tags %}

{% block title %}Home{% endblock %}

{% block content %}


<!--
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/aspect-ratio'),
    ],
  }
  ```
-->

<div class="bg-white">
  <main class="mx-auto max-w-2xl px-4 lg:max-w-7xl lg:px-8">
    <div class="border-b border-gray-200 pb-10 pt-24">
      <h1 class="text-4xl font-bold tracking-tight text-gray-900">{{categoryData.name}}</h1>
      <p class="mt-4 text-base text-gray-500">{{categoryData.description}}</p>
    </div>

    <div class="pb-24 pt-12 lg:grid lg:grid-cols-3 lg:gap-x-8 xl:grid-cols-4">
      <aside>
        <h2 class="sr-only">Filters</h2>
      
        <!-- Mobile filter dialog toggle, controls the 'mobileFilterDialogOpen' state. -->
        <button type="button" class="inline-flex items-center lg:hidden">
          <span class="text-sm font-medium text-gray-700">Filters</span>
          <svg class="ml-1 h-5 w-5 flex-shrink-0 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path
              d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
          </svg>
        </button>
      
        <div class="hidden lg:block">
          <form class="space-y-10 divide-y divide-gray-200">
            {% for product_filter in filterData %}
            <div class="pt-10">
              <fieldset>
                <legend class="block text-sm font-medium text-gray-900">{{ product_filter.name }}</legend>
                <div class="space-y-3 pt-6">
                  {% for product_attribute in product_filter.product_attributes.all %}

                  <div class="flex items-center">
                    <input id="attr-{{ product_attribute.id }}" name="{{ product_filter.name }}"
                      value="{{ product_attribute }}" type="checkbox"
                      class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                    <label for="attr-{{ product_attribute.id }}" class="ml-3 text-sm text-gray-600">{{ product_attribute.value }}</label>
                  </div>
                  {% endfor %}
                </div>
              </fieldset>
            </div>
            {% endfor %}
          </form>
        </div>
      </aside>

  
      <section aria-labelledby="product-heading" class="mt-6 lg:col-span-2 lg:mt-0 xl:col-span-3">
        <h2 id="product-heading" class="sr-only">Products</h2>
  
            <div class="mx-auto max-w-2xl px-4  sm:px-6 lg:max-w-7xl lg:px-8">
              <h2 class="sr-only">Products</h2>
            
              <div class=" grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 xl:gap-x-8">
                {% for product in products %}
                {% include 'components/product_card.html' with product=product %}
                {% endfor %}
              </div>
            </div>
      </section>
    </div>
  </main>
</div>
{% endblock %}