{% extends 'components/main.html' %}
{% load static tailwind_tags %}

{% block title %}Retour order {{ order.order_number }}{% endblock %}

{% block content %}
  <!--
  This example requires updating your template:

  ```
  <html class="h-full bg-white">
  <body class="h-full">
  ```
-->

  <div class="mx-auto bg-gray-50">
    <div
      class="mx-auto w-1/2 px-4 py-16 sm:px-6 sm:py-24 lg:grid lg:max-w-7xl "
    >
      <div class="pb-8">{% include 'components/progress_view.html' %}</div>

      {% if not order %}
        <p
          class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl"
        >
          Geen order gevonden...
        </p>
      {% else %}
        <div>
          {% if order.status == "paid" %}
            <p class="flex-1 text-sm font-normal text-green-600 lg:flex-none">
              <i class="fas fa-check-circle text-green-600 mr-1"></i> Betaling
              gelukt
            </p>
            <p
              class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl"
            >
              Bedankt voor je retouraanvraag!
            </p>
          {% elif order.status == "done" %}
            <p class="flex-1 text-sm font-normal text-green-600 lg:flex-none">
              <i class="fas fa-check-circle text-green-600 mr-1"></i> Retour
              afgerond
            </p>
            <p
              class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl"
            >
              Bedankt voor je retouraanvraag!
            </p>
          {% elif order.status == "partly" %}
            <p class="flex-1 text-sm font-normal text-orange-400 lg:flex-none">
              <i class="fas fa-check-circle text-orange-400 mr-1"></i> Producten
              (deels) opgehaald
            </p>
            <p
              class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl"
            >
              Bedankt voor je retouraanvraag!
            </p>
          {% elif order.status == "delivered" %}
            <p class="flex-1 text-sm font-normal text-green-600 lg:flex-none">
              <i class="fas fa-check-circle text-green-600 mr-1"></i> Producten
              opgehaald
            </p>
            <p
              class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl"
            >
              Bedankt voor je retouraanvraag!
            </p>
          {% elif order.status == "open" %}
            <p class="flex-1 text-sm font-normal text-orange-400 lg:flex-none">
              <i class="fas fa-exclamation-circle text-orange-400 mr-1"></i>
              Openstaande betaling
            </p>
            <p
              class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl"
            >
              Bedankt voor je retouraanvraag!
            </p>
          {% elif order.status == "failed" %}
            <p class="flex-1 text-sm font-normal text-red-600 lg:flex-none">
              <i class="fas fa-exclamation-circle text-red-600 mr-1"></i>
              Betaling mislukt
            </p>
            <p
              class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl"
            >
              Oeps.....
            </p>
          {% endif %}
          {% if order.status == "paid" %}
            <p class="mt-2 text-base text-gray-500">
              We waarderen uw retouraanvraag, we zijn deze momenteel aan het
              verwerken. Dus heb even geduld en dan ontvangt u binnenkort een
              bevestiging van onze afhaalservice!
            </p>
          {% elif order.status == "done" %}
            <p class="mt-2 pb-2 text-base text-gray-500">
              Deze retouraanvraag is afgerond. Dat betekent dat onze
              afhaalservice de artikelen succesvol heeft geretourneerd en het
              gemoeide bedrag is overgemaakt naar uw rekening. Mocht er toch nog
              onbedoeld een probleem zijn opgetreden, neem dan gerust contact
              met ons op.
            </p>
          {% elif order.status == "partly" %}
            <p class="mt-2 pb-2 text-base text-gray-500">
              Uw bestelling is deels opgehaald. Dit betekent dat er nog
              producten opgehaald kunnen worden. Als het goed is heeft onze
              afhaalservice hier contact met u over opgenomen. Mocht er toch nog
              onbedoeld een probleem zijn, neem dan gerust contact met ons op.
              Wij regelen dit voor u!
            </p>
          {% elif order.status == "delivered" %}
            <p class="mt-2 pb-2 text-base text-gray-500">
              Uw retour is succesvol opgehaald! Bedankt voor uw vertrouwen in
              ons team. Als u vragen heeft of verdere assistentie nodig heeft,
              aarzel dan niet om contact met ons op te nemen.
            </p>
          {% elif order.status == "open" %}
            <p class="mt-2 pb-2 text-base text-gray-500">
              We waarderen uw retouraanvraag, momenteel is deze niet betaald dus
              kunnen wij op dit moment de aanvraag nog niet in orde maken.
            </p>
          {% elif order.status == "failed" %}
            <p class="mt-2 text-base text-gray-500">
              Bedankt voor uw retouraanvraag, echter is er helaas tijdens het
              proces iets misgegaan waardoor de betaling is mislukt. Onze
              excuses hiervoor.
            </p>
          {% endif %}

          <div class="mt-16"></div>

          <ul
            role="list"
            class="mt-6 divide-y divide-gray-200 border-t border-gray-200 text-sm font-medium text-gray-500"
          >
            {% for order_line in order.return_order_lines %}
              <li class="flex space-x-6 py-6 relative">
                <img
                  src="{{ order_line.thumbnail_url }}"
                  alt="{{ order_line.name }}"
                  class="h-24 w-24 flex-none rounded-md bg-gray-100 object-cover object-center"
                />
                <div class="flex-auto space-y-1">
                  <h3 class="text-gray-900">
                    <a href="{% url 'product_detail' order_line.product_id %}">
                      {{ order_line.name }}
                    </a>
                  </h3>
                  <p class="text-gray-400">
                    {{ order_line.quantity }} stuk(s)
                    {% if order_line.returned_quantity > 0 %}
                      {% if order_line.return_id is not None %}
                        <a
                          href="/return_detail/?return_id={{ order_line.token }}"
                          class="text-orange-400 font-medium text-xs"
                        >
                          {{ order_line.returned_quantity }} geretourneerd
                        </a>
                      {% else %}
                        <span class="text-orange-400 font-medium text-xs">
                          {{ order_line.returned_quantity }} geretourneerd
                        </span>
                      {% endif %}
                    {% endif %}
                  </p>
                  <p>€{{ order_line.unit_price }} per {{ order_line.unit }}</p>
                </div>

                <!-- Price stays as is -->
                <p class="font-medium text-gray-900 text-right">
                  €{{ order_line.total_price }}
                </p>

                <!-- Status div at the bottom-right with simplified icons -->
                <div class="absolute bottom-0 right-0 pb-4 flex">
                  <div
                    class="flex items-center bg-gray-100 text-sm px-3 py-1 rounded-full"
                  >
                    <span class="flex items-center text-xs pr-2">
                      <!-- Simplified Icon for status with color -->
                      {% if order_line.status == 'Nog op te halen' %}
                        <i class="fas fa-exclamation text-orange-400"></i>
                      {% elif order_line.status == 'Opgehaald' %}
                        <i class="fas fa-check text-green-500"></i>
                      {% endif %}
                    </span>

                    <!-- Status text with neutral gray color -->
                    <span class="text-xs font-medium text-gray-500">
                      {{ order_line.statusText|default:"" }}
                    </span>
                  </div>
                </div>
              </li>
            {% endfor %}
          </ul>

          <dl
            class="space-y-6 border-t border-gray-200 pt-6 text-sm font-medium text-gray-500"
          >
            {% if order.status == 'paid' %}
              <div class="flex justify-between">
                <dt>Subtotaal</dt>
                <dd class="text-gray-900">€{{ order.sub_price }}</dd>
              </div>

              {% if order.tax_price_low > 0 %}
                <div class="flex justify-between">
                  <dt>BTW 9%</dt>
                  <dd class="text-gray-900">€{{ order.tax_price_low }}</dd>
                </div>
              {% endif %}
              {% if order.tax_price_high > 0 %}
                <div class="flex justify-between">
                  <dt>BTW 21%</dt>
                  <dd class="text-gray-900">€{{ order.tax_price_high }}</dd>
                </div>
              {% endif %}

              <div
                class="flex flex-col items-start border-t border-gray-200 pt-6 text-gray-900"
              >
                <div class="flex items-center justify-between w-full">
                  <dt class="text-base">Totaal terug te krijgen</dt>
                  <dd class="text-base">€{{ order.total_price }}</dd>
                </div>
                {% if order.status == 'paid' or order.status == 'partly' %}
                  <p class="text-sm text-gray-500 font-normal mt-1">
                    Onze afhaalservice neemt contact met u op!
                  </p>
                {% elif order.status == 'delivered' %}
                  <p class="text-sm text-gray-500 font-normal mt-1">
                    Uw geld wordt binnen 2 weken op uw rekening gestort.
                  </p>
                {% endif %}
              </div>
            {% elif order.status == 'open' %}
              <div class="flex justify-between">
                <dt>Verzendkosten</dt>
                <dd class="text-sm font-medium text-gray-900">
                  €{{ order.shipping_amount }}
                </dd>
              </div>

              <div
                class="flex items-center justify-between border-t border-gray-200 pt-6 text-gray-900"
              >
                <dt class="text-base">Nog te betalen</dt>
                <dd class="text-base">€{{ order.shipping_amount }}</dd>
              </div>
            {% endif %}
          </dl>

          <dl class="mt-16 grid grid-cols-2 gap-x-4 text-sm text-gray-600">
            <div>
              <dt class="font-medium text-gray-900">Afhaal adres</dt>
              <dd class="mt-2">
                <address class="not-italic">
                  <span class="block"
                    >{{ order.first_name }} {{ order.last_name }}</span
                  >
                  <span class="block">{{ order.shipping_address |safe }}</span>
                </address>
              </dd>
            </div>

            <div>
              <dt class="font-medium text-gray-900">Betalingsinformatie</dt>
              <dd class="mt-2 space-y-2 sm:flex sm:space-x-4 sm:space-y-0">
                <div class="flex-none">
                  <img
                    src="{{ order.payment_logo }}"
                    alt="{{ order.payment_information }}"
                    class="flex-none rounded-md bg-gray-100 object-cover object-center"
                  />
                </div>
                <div class="flex-auto">
                  <p class="text-gray-900">{{ order.payment_information }}</p>
                  <p>{{ order.payment_status }}</p>
                  {% if order.status == 'open' %}
                    <a
                      href="{{ order.payment_url }}"
                      target="_blank"
                      class="font-normal text-blue-600 custom-link"
                      >Betaalpagina
                    </a>
                  {% elif order.status == 'failed' %}
                    <form
                      action="{% url 'repay_order' order.id %}"
                      method="post"
                    >
                      {% csrf_token %}
                      <button
                        class="font-normal text-blue-600 custom-link"
                        type="submit"
                      >
                        Opnieuw proberen
                      </button>
                    </form>
                  {% endif %}
                </div>
              </dd>
            </div>
            <div class="pt-10">
              <dt class="font-medium text-gray-900">Factuur adres</dt>
              <dd class="mt-2">
                <address class="not-italic">
                  <span class="block"
                    >{{ order.first_name }} {{ order.last_name }}</span
                  >
                  <span class="block">{{ order.billing_address |safe }}</span>
                </address>
              </dd>
            </div>
          </dl>

          <div class="mt-16 border-t border-gray-200 py-6 text-right">
            <a
              href="/"
              class="text-sm font-medium text-orange-500 hover:text-orange-400"
            >
              Verder met shoppen
              <span aria-hidden="true"> &rarr;</span>
            </a>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
