<label
  class="delivery-label relative flex cursor-pointer rounded-lg border bg-white p-4 shadow-sm focus:outline-none"
  onclick="toggleDeliveryMethod(this, '{{ delivery_method.name }}')"
>
  <span class="flex flex-1">
    <span class="flex flex-col">
      <span
        id="delivery-method-0-name"
        class="block text-sm font-medium text-gray-900"
        >{{ delivery_method.name }}</span
      >
      <span
        id="delivery-method-0-description-0"
        class="mt-1 flex items-center text-sm text-gray-500"
        >{{ delivery_method.days }} dagen</span
      >

      {% if delivery_method.price == 0.00 %}
        <span
          id="delivery-method-0-description-1"
          class="mt-6 text-sm font-medium text-gray-900"
          >Gratis</span
        >
      {% else %}
        <span
          id="delivery-method-0-description-1"
          class="mt-6 text-sm font-medium text-gray-900"
          >€{{ delivery_method.price }}</span
        >
      {% endif %}
    </span>
  </span>

  <svg
    id="delivery-icon"
    class="h-5 w-5 text-gray-300"
    viewBox="0 0 20 20"
    fill="currentColor"
    aria-hidden="true"
  >
    <path
      fill-rule="evenodd"
      d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
      clip-rule="evenodd"
    />
  </svg>

  <span
    class="pointer-events-none absolute -inset-px rounded-lg border-2"
    aria-hidden="true"
  ></span>
</label>

<script>
  function toggleDeliveryMethod(label, deliveryMethodName) {
    const selectedLabels = document.querySelectorAll('.delivery-label.selected')
    selectedLabels.forEach((selectedLabel) => {
      if (selectedLabel !== label) {
        selectedLabel.classList.remove('selected')
        selectedLabel
          .querySelector('.pointer-events-none')
          .classList.remove('border-orange-400')
        selectedLabel.classList.remove(
          'bg-gradient-to-r',
          'from-orange-600',
          'via-orange-500',
          'to-orange-400',
        )

        // Reset the text colors
        const nameElement = selectedLabel.querySelector(
          '#delivery-method-0-name',
        )
        const descriptionElement = selectedLabel.querySelector(
          '#delivery-method-0-description-0',
        )
        const priceElement = selectedLabel.querySelector(
          '#delivery-method-0-description-1',
        )
        const svgIcon = selectedLabel.querySelector('#delivery-icon')

        nameElement.classList.remove('text-gray-100')
        nameElement.classList.add('text-gray-900')
        descriptionElement.classList.remove('text-gray-100')
        descriptionElement.classList.add('text-gray-500')
        priceElement.classList.remove('text-white')
        priceElement.classList.add('text-gray-900')
        svgIcon.classList.remove('text-gray-100')
        svgIcon.classList.add('text-gray-300')
      }
    })

    // Toggle the selected state
    label.classList.toggle('selected')

    if (label.classList.contains('selected')) {
      // Apply the gradient background and text color changes when selected
      document.querySelector('input[name="selected_delivery_method"]').value =
        deliveryMethodName
      label.classList.add(
        'bg-gradient-to-r',
        'from-orange-600',
        'via-orange-500',
        'to-orange-400',
      )

      // Update text colors for the selected label
      const nameElement = label.querySelector('#delivery-method-0-name')
      const descriptionElement = label.querySelector(
        '#delivery-method-0-description-0',
      )
      const priceElement = label.querySelector(
        '#delivery-method-0-description-1',
      )
      const svgIcon = label.querySelector('#delivery-icon')

      nameElement.classList.remove('text-gray-900')
      nameElement.classList.add('text-gray-100')
      descriptionElement.classList.remove('text-gray-500')
      descriptionElement.classList.add('text-gray-100')
      priceElement.classList.remove('text-gray-900')
      priceElement.classList.add('text-white')
      svgIcon.classList.remove('text-gray-300')
      svgIcon.classList.add('text-gray-100')

      label
        .querySelector('.pointer-events-none')
        .classList.add('border-orange-400')
    } else {
      // Reset the selected label to its initial state
      document.querySelector('input[name="selected_delivery_method"]').value =
        ''
      label.classList.remove(
        'bg-gradient-to-r',
        'from-orange-600',
        'via-orange-500',
        'to-orange-400',
      )

      // Reset text colors when deselected
      const nameElement = label.querySelector('#delivery-method-0-name')
      const descriptionElement = label.querySelector(
        '#delivery-method-0-description-0',
      )
      const priceElement = label.querySelector(
        '#delivery-method-0-description-1',
      )
      const svgIcon = label.querySelector('#delivery-icon')

      nameElement.classList.remove('text-gray-100')
      nameElement.classList.add('text-gray-900')
      descriptionElement.classList.remove('text-gray-100')
      descriptionElement.classList.add('text-gray-500')
      priceElement.classList.remove('text-white')
      priceElement.classList.add('text-gray-900')
      svgIcon.classList.remove('text-gray-100')
      svgIcon.classList.add('text-gray-300')

      label
        .querySelector('.pointer-events-none')
        .classList.remove('border-orange-400')
    }
  }
</script>
