<div
  id="dropdown-{{ header.id }}"
  class="dropdown absolute z-10 left-0 w-full bg-white shadow-lg hidden"
  onmouseover="mouseOverDropdown('{{ header.id }}')"
  onmouseout="mouseOutDropdown('{{ header.id }}')"
>
  <div class="absolute inset-x-0 top-full text-gray-500 sm:text-sm">
    <div class="absolute inset-0 top-full shadow" aria-hidden="true"></div>
    <div
      class="relative bg-gradient-to-r from-orange-600 via-orange-500 to-orange-400"
    >
      <div class="mx-auto max-w-7xl px-8">
        <div class="grid grid-cols-4 items-start gap-x-8 gap-y-10 pb-12 pt-10">
          {% for category in header.subcategories.all %}
            <div>
              <a
                href="/products/{{ header.name }}/{{ category.name }}"
                class="font-bold text-gray-100 text-lg "
              >
                {{ category.name }}
              </a>

              <ul
                role="list"
                aria-labelledby="desktop-{{ category.name|lower|slugify }}-heading"
                class="mt-6 space-y-6 sm:mt-4 sm:space-y-4"
              >
                {% for sub_category in category.subcategories.all %}
                  <li class="mr-4">
                    <a
                      href="/products/{{ header.name }}/{{ category.name }}/{{ sub_category.name }}"
                      class="hover:text-gray-200 text-white font-normal text-base"
                      >{{ sub_category.name }}</a
                    >
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
