{% load static %}
<footer aria-labelledby="footer-heading">
  <div class="bg-gray-100">
    <!-- Change to bg-gray-100 -->
    <h2 id="footer-heading" class="sr-only">Footer</h2>

    <div
      class="mx-auto max-w-7xl py-6 sm:py-12 md:py-16 lg:py-24 px-6 pb-8 sm:pb-14 md:pb-18 lg:pb-28"
    >
      <div
        class="xl:grid xl:grid-cols-3 xl:gap-8 md:grid-cols-2 grid-cols-1 gap-8"
      >
        <!-- Main content section with multiple columns -->
        <div class="mt-8 grid grid-cols-1 gap-8 xl:col-span-2 xl:mt-0">
          <div class="md:grid md:grid-cols-3 md:gap-8">
            <div class="mt-8">
              <h3 class="text-lg font-semibold leading-6 text-black">
                Informatie
              </h3>
              <ul role="list" class="mt-6 space-y-4">
                <li>
                  <a
                    href="/terms-and-conditions"
                    class="text-base leading-6 text-gray-800 hover:text-orange-500"
                    >Algemene voorwaarden</a
                  >
                </li>
                <li>
                  <a
                    href="/contact-service"
                    class="text-base leading-6 text-gray-800 hover:text-orange-500"
                    >Klantenservice</a
                  >
                </li>
                <li>
                  <a
                    href="/payment-return-service"
                    class="text-base leading-6 text-gray-800 hover:text-orange-500"
                    >Betaling & verzending</a
                  >
                </li>
                <li>
                  <a
                    href="/return-service"
                    class="text-base leading-6 text-gray-800 hover:text-orange-500"
                    >Retourneren</a
                  >
                </li>
                <li>
                  <a
                    href="/contact-service#faq"
                    class="text-base leading-6 text-gray-800 hover:text-orange-500"
                    >Veelgestelde vragen</a
                  >
                </li>
                <li>
                  <a
                    href="/privacy"
                    class="text-base leading-6 text-gray-800 hover:text-orange-500"
                    >Privacy</a
                  >
                </li>
                <li>
                  <a
                    href="/about-us"
                    class="text-base leading-6 text-gray-800 hover:text-orange-500"
                    >Over ons</a
                  >
                </li>
              </ul>
            </div>
            <div class="mt-8">
              <h3 class="text-lg font-semibold leading-6 text-black">
                Vloeren
              </h3>
              <ul role="list" class="mt-6 space-y-4">
                {% for header in headerData %}
                  <li>
                    <a
                      href="/products/{{ header.name }}"
                      class="text-base leading-6 text-gray-800 hover:text-orange-500"
                      >{{ header.name }}</a
                    >
                  </li>
                {% endfor %}
              </ul>
            </div>
            <div class="mt-8">
              <h3 class="text-lg font-semibold leading-6 text-black">Merken</h3>
              <ul role="list" class="mt-6 space-y-4">
                {% for brand in brands %}
                  <li>
                    <a
                      href="/products/{{ brand.name }}"
                      class="text-base leading-6 text-gray-800 hover:text-orange-500"
                      >{{ brand.name }}</a
                    >
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>

        <!-- Contact Section -->
        <div class="mt-8">
          {% if store_data %}
            <h3 class="text-lg font-semibold leading-6 text-black">Contact</h3>
            <div>
              <div class="pt-10 pb-2">
                {% if store_data.contact_email %}
                  <a
                    href="mailto:{{ store_data.contact_email }}"
                    class="inline-block rounded-full border-2 border-transparent bg-gradient-to-r from-orange-500 to-orange-400 px-6 py-2 text-sm font-medium text-white hover:from-orange-600 hover:to-orange-600 focus:outline-none focus:ring-2 focus:ring-orange-400 focus:ring-offset-2 transform transition-all duration-300 ease-in-out hover:scale-105"
                  >
                    <i
                      class="fas fa-envelope mr-2 text-lg transition-transform duration-300 ease-in-out hover:rotate-90"
                    ></i>
                    <span
                      class="inline-block transition-all duration-300 ease-in-out hover:translate-x-1"
                      >{{ store_data.contact_email }}</span
                    >
                  </a>
                {% endif %}
              </div>
              {% if store_data.opening_time_week or store_data.opening_time_weekend %}
                <div class="py-4">
                  {% if store_data.opening_time_week %}
                    <div
                      class="text-sm font-normal text-gray-800 flex items-center"
                    >
                      <p class="text-sm leading-6 font-medium text-gray-800">
                        Maandag t/m vrijdag
                      </p>
                      <span class="text-sm font-normal text-gray-600 ml-2"
                        >{{ store_data.opening_time_week }}</span
                      >
                    </div>
                  {% endif %}
                  {% if store_data.opening_time_weekend %}
                    <div
                      class="text-sm font-normal text-gray-800 flex items-center"
                    >
                      <p class="text-sm leading-6 font-medium text-gray-800">
                        Zaterdag en zondag
                      </p>
                      <span class="text-sm font-normal text-gray-600 ml-2"
                        >{{ store_data.opening_time_weekend }}</span
                      >
                    </div>
                  {% endif %}
                </div>
              {% endif %}
              {% if store_data.coc_number or store_data.vat_number %}
                <div class="pt-2">
                  {% if store_data.coc_number %}
                    <div
                      class="text-sm font-normal text-gray-800 flex items-center"
                    >
                      <p
                        class="text-sm leading-6 font-medium text-gray-800 m-0"
                      >
                        KVK nummer
                      </p>
                      <span class="text-sm font-normal text-gray-600 ml-2"
                        >{{ store_data.coc_number }}</span
                      >
                    </div>
                  {% endif %}
                  {% if store_data.vat_number %}
                    <div
                      class="text-sm font-normal text-gray-800 flex items-center"
                    >
                      <p
                        class="text-sm leading-6 font-medium text-gray-800 m-0"
                      >
                        BTW nummer
                      </p>
                      <span class="text-sm font-normal text-gray-600 ml-2"
                        >{{ store_data.vat_number }}</span
                      >
                    </div>
                  {% endif %}
                </div>
              {% endif %}
              {% if store_data.socials %}
                <div class="pt-10">
                  <h3 class="text-lg font-semibold leading-6 text-black">
                    Bekijk onze socials
                  </h3>
                  <div class="pt-6 flex justify-start gap-x-4 md:order-2">
                    {% for platform, link in store_data.socials.items %}
                      <a
                        href="{{ link }}"
                        class="hover:opacity-75"
                        target="_blank"
                      >
                        <span class="sr-only">{{ platform }}</span>
                        <div
                          class="flex items-center justify-center w-10 h-10 rounded-full bg-orange-500 shadow-md border border-gray-100"
                        >
                          <i
                            class="fab {% if platform == 'facebook' %}fa-facebook-f{% elif platform == 'instagram' %}fa-instagram{% endif %} text-white text-lg"
                          ></i>
                        </div>
                      </a>
                    {% endfor %}
                  </div>
                </div>
              {% endif %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="bg-orange-500">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div
        class="border-t border-white/10 pt-4 pb-4 text-left flex flex-col md:flex-row justify-between items-center md:items-center"
      >
        <!-- Payment Methods Section (left-aligned on small screens, center-aligned on larger screens) -->
        <div class="flex space-x-4 mb-4 md:mb-0">
          {% for payment_method in payment_methods %}
            <img
              class="max-h-24 max-w-24 mt-1"
              src="{{ payment_method.image_url }}"
              alt="{{ payment_method.id }}"
            />
          {% endfor %}
        </div>

        <!-- Links Section (right-aligned on larger screens) -->
        <div
          class="flex justify-center space-x-4 mb-4 md:mb-0 md:ml-auto md:justify-end"
        >
          <a
            href="/contact-service"
            class="text-sm font-normal leading-4 text-gray-50 hover:text-gray-200"
            >Klantenservice</a
          >
          <span class="text-sm font-light leading-4 text-gray-500">|</span>

          <a
            href="/terms-and-conditions"
            class="text-sm font-normal leading-4 text-gray-50 hover:text-gray-200"
            >Algemene voorwaarden</a
          >
          <span class="text-sm font-light leading-4 text-gray-500">|</span>
          <a
            href="/disclaimer"
            class="text-sm font-normal leading-4 text-gray-50 hover:text-gray-200"
            >Disclaimer</a
          >
        </div>

        <!-- Copyright Section (right-aligned on larger screens) -->
        <div
          class="text-base font-medium leading-4 text-white mb-4 md:mb-0 md:ml-auto"
        >
          &copy; {% now "Y" %} {{ store_data.name }}
        </div>
      </div>
    </div>
  </div>
</footer>
