{% load static tailwind_tags %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ meta.title }}</title>
    <meta name="description" content="{{ meta.description }}" />
    <meta name="keywords" content="{{ meta.keywords }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% include 'components/shared_google_analytics.html' %}
    {% tailwind_css %}
    <link
      rel="icon"
      href="{% static 'images/favicon.ico' %}"
      type="image/x-icon"
    />

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css"
    />
  </head>

  <body>
    {% include 'components/header.html' %}

    <main>
      {% for message in messages %}
        {% include 'components/notifications/message_notification.html' %}
      {% endfor %}

      <!-- Progress spinner container (Always Visible) -->
      <div
        id="spinner-container"
        class="hidden w-full h-screen flex justify-center items-center fixed top-0 left-0 z-50"
      >
        <div
          class="w-16 h-16 border-4 border-gray-200 border-t-green-500 rounded-full animate-spin"
        ></div>
      </div>

      {% block content %}
      {% endblock %}
    </main>

    <button
      id="scroll-to-top-btn"
      class="fixed bottom-6 z-10 right-6 w-12 h-12 rounded-full bg-gray-100 text-orange-500 border border-gray-300 shadow-md hover:shadow-lg hover:bg-gray-200 hover:border-gray-400 transition-all duration-300 ease-in-out opacity-0 pointer-events-none"
      aria-label="Scroll to top"
    >
      <i class="fas fa-chevron-up text-xl"></i>
    </button>

    {% include 'components/footer.html' %}
    {% if not request.session.cookie_consent %}
      <!-- Cookie Consent Modal -->
      <div
        id="cookieConsentModal"
        class="fixed inset-0 flex justify-center items-center bg-black bg-opacity-50 z-50 p-4"
      >
        <div class="bg-white rounded-lg shadow-lg p-6 max-w-lg w-full">
          <div class="flex justify-between items-center">
            <h2 class="text-2xl font-semibold text-black">Privacy & Cookies</h2>
          </div>
          <p class="text-orange-500 text-sm">Uw privacy is belangrijk</p>

          <div class="mt-6">
            <p class="text-gray-900 text-sm">
              Wij gebruiken <span class="font-semibold">functionele</span> en
              <span class="font-semibold">analytische</span> cookies om u de
              beste ervaring op onze website te bieden. Deze cookies helpen ons
              de website goed te laten functioneren en uw voorkeuren te
              onthouden.
            </p>

            <p class="mt-2 text-gray-900 text-sm">
              <span class="font-semibold">Functionele cookies</span> zijn
              essentieel om de basisfunctionaliteiten van onze website te
              ondersteunen, zoals het onthouden van je instellingen,
              winkelmandje en voorkeuren.
            </p>
            <p class="mt-2 text-gray-900 text-sm">
              <span class="font-semibold">Analytische cookies</span> helpen ons
              bij het analyseren van uw gebruik van de website, zodat we deze
              kunnen verbeteren en de gebruikerservaring kunnen optimaliseren.
            </p>

            <p class="mt-6 text-gray-600 text-xs">
              Door onze site te blijven gebruiken, gaat u akkoord met ons
              gebruik van cookies. Voor meer informatie kunt u ons
              <a href="/privacy" class="text-orange-500 hover:text-orange-600"
                >privacybeleid</a
              >
              raadplegen.
            </p>
          </div>
          <div class="mt-4">
            <button
              id="acceptCookies"
              class="w-full bg-orange-500 text-white text-sm font-semibold py-3 px-6 rounded-md shadow-md hover:bg-orange-400 focus:outline-none focus:ring-2 focus:ring-orange-500 focus:ring-opacity-50 transition-all duration-300"
            >
              Accepteren
            </button>
          </div>
        </div>
      </div>
    {% endif %}
  </body>

  <script>
    // Get the button
    const scrollToTopBtn = document.getElementById('scroll-to-top-btn')

    // Show the button when scrolling down
    window.addEventListener('scroll', function () {
      if (window.scrollY > 200) {
        // Show button when scrolled down 200px
        scrollToTopBtn.classList.remove('opacity-0', 'pointer-events-none')
        scrollToTopBtn.classList.add('opacity-100', 'pointer-events-auto')
      } else {
        scrollToTopBtn.classList.remove('opacity-100', 'pointer-events-auto')
        scrollToTopBtn.classList.add('opacity-0', 'pointer-events-none')
      }
    })

    // Scroll to the top when the button is clicked
    scrollToTopBtn.addEventListener('click', function () {
      window.scrollTo({
        top: 0,
        behavior: 'smooth',
      })
    })

    // Show the spinner when necessary (e.g., when fetching data)
    function showSpinner() {
      document.getElementById('spinner-container').classList.remove('hidden')
    }

    // Hide the spinner
    function hideSpinner() {
      document.getElementById('spinner-container').classList.add('hidden')
    }

    document
      .getElementById('acceptCookies')
      .addEventListener('click', function () {
        fetch("{% url 'set_cookie_consent' %}", {
          method: 'POST',
          headers: {
            'X-Requested-With': 'XMLHttpRequest',
            'X-CSRFToken': '{{ csrf_token }}',
          },
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.status === 'success') {
              document
                .getElementById('cookieConsentModal')
                .classList.add('hidden')
            }
          })
          .catch((error) => console.error('Error:', error))
      })
  </script>
</html>
