<div aria-labelledby="order-heading">
  <div
    class="bg-gray-50 px-4 py-6 sm:rounded-lg sm:p-6 md:flex md:items-center md:justify-between md:space-x-6 lg:space-x-8"
  >
    <h2
      id="order-heading"
      class="text-lg font-medium text-gray-900 md:flex-shrink-0"
    >
      Order
      <a
        href="/order_detail/?order_id={{ order.id }}"
        class="text-orange-500 hover:text-orange-400"
        >{{ order.order_number }}</a
      >
    </h2>

    <div
      class="space-y-5 sm:flex sm:items-baseline sm:justify-between sm:space-y-0 md:min-w-0 md:flex-1"
    >
      <p class="text-sm font-medium text-gray-500">
        Gemaakt op {{ order.created_date }}
      </p>
      <div class="flex text-sm font-medium"></div>
    </div>
  </div>

  {% for order_line in order.order_lines %}
    <div class="flow-root divide-y divide-gray-200">
      <div class="py-6 sm:flex">
        <div
          class="flex space-x-4 sm:min-w-0 sm:flex-1 sm:space-x-6 lg:space-x-8 relative"
        >
          <img
            src="{{ order_line.thumbnail_url }}"
            alt="{{ order_line.name }}"
            class="h-20 w-20 flex-none rounded-md object-cover object-center sm:h-48 sm:w-48"
          />
          <div class="min-w-0 flex-1 pt-1.5 sm:pt-0">
            <h3 class="text-sm font-medium text-gray-900">
              <a href="/product/{{ order_line.product_id }}"
                >{{ order_line.name }}</a
              >
            </h3>
            <h4>
              <p class="mt-2 text-sm text-gray-500 sm:block line-clamp-1">
                {{ order_line.description }}
              </p>
            </h4>
            <p class="mt-1 font-normal text-sm text-gray-400">
              {{ order_line.quantity }} stuk(s)
            </p>
            <p class="mt-1 font-medium text-gray-900">
              €{{ order_line.total_price }}
            </p>
          </div>
        </div>
      </div>
    </div>

    {% if not forloop.last %}
    {% endif %}
  {% endfor %}
</div>
<div class="border-b border-gray-200 pb-5">
  <div class="flex justify-end items-center">
    <div class="mt-2 pr-2 mr-2 flex flex-col items-end">
      {% if order.order_status == "paid" or order.order_status == "partly" %}
        <p class="text-left font-normal pl-2  text-green-600 flex items-center">
          <i class="fas fa-check-circle text-green-600 mr-2"></i>Betaald
        </p>
      {% elif order.order_status == "delivered" %}
        <p class="text-left font-normal pl-2  text-green-600 flex items-center">
          <i class="fas fa-check-circle text-green-600 mr-2"></i>Afgeleverd
        </p>
      {% elif order.order_status == "open" %}
        <p class="text-left font-normal pl-2  text-blue-500 flex items-center">
          <i class="fas fa-exclamation-circle text-blue-500 mr-2"></i>Openstaand
        </p>
      {% elif order.order_status == "failed" %}
        <p class="text-left font-normal pl-2  text-red-600 flex items-center">
          <i class="fas fa-times-circle text-red-600 mr-2"></i>Mislukt
        </p>
      {% endif %}
    </div>
    <div class="  py-3 mt-2">
      <p class="text-xl font-semibold text-gray-900">
        €{{ order.total_price }}
      </p>
    </div>
  </div>
</div>
