<a
  href="{% url 'product_detail' product.id %}"
  class="group flex flex-col relative"
>
  <!-- Absolute div for "Hardloper" label -->
  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />

  {% if product.is_runner %}
    <div
      class="absolute top-4 left-4 px-2 py-1 bg-amber-500 text-gray-100 rounded-full z-10 flex justify-center items-center"
    >
      <span class="text-xs font-medium px-2 py-0.5">Beste keuze</span>
    </div>
  {% endif %}

  <button
    class="absolute top-4 right-4 w-8 h-8 bg-gray-600 bg-opacity-50 hover:bg-gray-600 text-gray-200 rounded-full z-10 flex justify-center items-center focus:outline-none"
    data-product-id="{{ product.id }}"
    onclick="addToFavorites(event, this)"
  >
    <span class="text-base font-medium">
      <i
        class="{% if product.favorite %}fas{% else %}far{% endif %} fa-heart"
      ></i>
    </span>
  </button>

  <div
    class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7"
  >
    <img
      src="{{ product.thumbnail_url }}"
      alt="{{ product.name }}"
      class="h-full w-full object-cover object-center group-hover:opacity-75"
    />
  </div>

  <div class="flex justify-between items-center">
    <div>
      <div>
        <h4 class="text-xs pt-4 text-gray-950 font-semibold ">
          {{ product.brand }}
        </h4>
      </div>

      <h3 class="text-sm text-gray-700">{{ product.name }}</h3>
      <div class="flex justify-between items-center">
        {% if product.sale_price %}
          <div class="flex">
            {% if product.product_type == "Vloer" %}
              <div
                class="bg-gray-900 rounded-tl-2xl rounded-bl-none rounded-tr-none rounded-br-2xl px-4 py-2 mt-2"
              >
                <p class="text-lg font-semibold text-gray-100">
                  €{{ product.sale_price }} {{ product.unit }}
                </p>
              </div>
              <p class="mt-2 py-2 px-4 text-lg font-base text-gray-400">
                <del>€{{ product.price }} </del>
              </p>
            {% else %}
              <div
                class="bg-gray-900 rounded-tl-2xl rounded-bl-none rounded-tr-none rounded-br-2xl px-4 py-2 mt-2"
              >
                <p class="text-lg font-semibold text-gray-100">
                  €{{ product.price }} {{ product.unit }}
                </p>
              </div>
              <p class="mt-2 py-2 px-4 text-lg font-base text-gray-400">
                <del>€{{ product.price }}</del>
              </p>
            {% endif %}
          </div>
        {% else %}
          <div class="flex">
            {% if product.product_type == "Vloer" %}
              <p class="mt-1 text-lg font-medium text-gray-900">
                €{{ product.price }} {{ product.unit }}
              </p>
            {% else %}
              <p class="mt-1 text-lg font-medium text-gray-900">
                €{{ product.price }} per {{ product.unit }}
              </p>
            {% endif %}
          </div>
        {% endif %}
      </div>
      <div class="mt-1">
        <span class="text-gray-900 font-medium text-sm">
          <i class="fas fa-check-circle text-green-500"></i> Direct leverbaar
        </span>
      </div>
    </div>
  </div>
</a>

<script>
  function addToFavorites(event, button) {
    // Prevent the event from propagating to the parent <a> tag
    event.preventDefault()

    // Get the CSRF token from the hidden form or any element with the csrfmiddlewaretoken value
    const csrfToken = document.querySelector(
      '[name="csrfmiddlewaretoken"]',
    ).value

    // Get the product ID
    const productId = button.getAttribute('data-product-id')

    // Send the request to the backend
    fetch('/add_to_favorites/', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': csrfToken, // Include the CSRF token here
      },
      body: JSON.stringify({ product_id: productId }),
    })
      .then((response) => response.json())
      .then((data) => {
        if (data.success) {
          // Get the icon and toggle the classes for filled and empty heart
          const icon = button.querySelector('i')
          if (data.favorites.includes(String(productId))) {
            // Set to filled heart (fas)
            icon.classList.remove('far')
            icon.classList.add('fas')
          } else {
            // Set to empty heart (far)
            icon.classList.remove('fas')
            icon.classList.add('far')
          }
        }
      })
      .catch((error) => console.error('Error:', error)) // Error handling
  }
</script>
