<a href="#" class="group flex flex-col">
    <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
        <img src="{{ product.image.url }}" alt="{{ product.name }}"
            class="h-full w-full object-cover object-center group-hover:opacity-75">
    </div>
    <div class="flex justify-between items-center mt-4">
        <div>
            <h3 class="text-sm text-gray-700">{{ product.name }}</h3>
            <div class="flex justify-between items-center">
                <p class="mt-1 text-lg font-medium text-gray-900">${{ product.price }}</p>
                {% if product.quantity > 0 %}
                <span class="text-gray-900 font-medium text-sm">
                    <i class="fas fa-check-circle text-green-500"></i> Direct Leverbaar
                </span>
                {% else %}
                <span class="text-red-500 font-bold">
                    <i class="fas fa-times-circle"></i> Niet Leverbaar
                </span>
                {% endif %}
            </div>
        </div>
    </div>
</a>