<section id="motivation-section">
  <div class="isolate bg-gray-50 px-6 py-6 sm:pt-16 sm:pb-16 lg:px-8">
    <div class="mx-auto max-w-2xl sm:text-center">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
        Onze service
      </h2>
      <p class="mt-2 text-lg leading-8 text-gray-600">
        Problemen bij je bestelling? Geen zorgen! Wij zijn er om jou te helpen.
      </p>
      <div class="mx-auto mt-5 text-center">
        <!-- Green circle icon -->
        <i class="fas fa-circle text-green-500"></i>
        <!-- Text -->
        <span class="ml-1 text-sm font-medium ">Dagelijks geopend</span>
      </div>
    </div>

    <div class="mx-auto mt-20 max-w-screen-md space-x-6 flex">
      <div class="flex gap-x-6 ">
        <div
          class="flex h-10 w-10 shrink-0 items-center justify-center rounded-lg bg-amber-500"
        >
          <svg
            class="h-6 w-6 text-white"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M20.25 8.511c.884.284 1.5 1.128 1.5 2.097v4.286c0 1.136-.847 2.1-1.98 2.193-.34.027-.68.052-1.02.072v3.091l-3-3c-1.354 0-2.694-.055-4.02-.163a2.115 2.115 0 01-.825-.242m9.345-8.334a2.126 2.126 0 00-.476-.095 48.64 48.64 0 00-8.048 0c-1.131.094-1.976 1.057-1.976 2.192v4.286c0 .837.46 1.58 1.155 1.951m9.345-8.334V6.637c0-1.621-1.152-3.026-2.76-3.235A48.455 48.455 0 0011.25 3c-2.115 0-4.198.137-6.24.402-1.608.209-2.76 1.614-2.76 3.235v6.226c0 1.621 1.152 3.026 2.76 3.235.577.075 1.157.14 1.74.194V21l4.155-4.155"
            />
          </svg>
        </div>
        <div>
          <h3 class="text-base font-semibold leading-7 text-gray-900">Email</h3>
          <a href="#" class="text-sm font-semibold leading-6 text-amber-500"
            >stan-deckers@live.nl<span aria-hidden="true">&rarr;</span></a
          >
          <p class="mt-2 leading-7 text-gray-600">
            Wij proberen jouw verzoek binnen maximaal twee werkdagen te
            beantwoorden!
          </p>
        </div>
      </div>

      <div class="flex gap-x-6">
        <div
          class="flex h-10 w-10 shrink-0 items-center justify-center rounded-lg bg-amber-500"
        >
          <svg
            class="h-6 w-6 text-white"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 17.25v1.007a3 3 0 01-.879 2.122L7.5 21h9l-.621-.621A3 3 0 0115 18.257V17.25m6-12V15a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 15V5.25m18 0A2.25 2.25 0 0018.75 3H5.25A2.25 2.25 0 003 5.25m18 0V12a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 12V5.25"
            />
          </svg>
        </div>
        <div>
          <h3 class="text-base font-semibold leading-7 text-gray-900">
            Beschikbaarheid
          </h3>
          <a href="#" class="text-sm font-semibold leading-6 text-amber-500"
            >10:00 - 17:00
          </a>
          <p class="mt-2 leading-7 text-gray-600">
            Onze klantenservice is alle werkdagen geopend met uitzondering van
            de feestdagen.
          </p>
        </div>
      </div>
    </div>
    <h2 id="perks-heading" class="sr-only">Our perks</h2>
    <div class="mt-16">
      <div class="mx-auto rounded-lg p-10 bg-gray-100">
        <div
          class="grid grid-cols-1 gap-y-12 sm:grid-cols-2 sm:gap-x-6 lg:grid-cols-4 lg:gap-x-8 lg:gap-y-0"
        >
          {% for store_motivation in store_motivations %}
            {% if store_motivation.for_homepage %}
              {% include 'components/store_motivation.html' %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
