<div
  class="text-center md:flex md:items-start md:text-left lg:block lg:text-center px-4"
>
  <!-- <div class="md:flex-shrink-0">
        <div class="flow-root">
            <img class="-my-1 mx-auto h-10 w-auto" src="{{ store_motivation.image }}" alt="{{ store_motivation.name }}">
        </div>
    </div> -->
  <i class="fas fa-check text-green-500 p-2"></i>

  <div class=" md:ml-4 md:mt-0 lg:ml-0">
    <h3 class="text-base font-semibold text-white">
      {{ store_motivation.name }}
    </h3>
    <p class="mt-3 text-sm text-gray-50">{{ store_motivation.text }}</p>
  </div>
</div>
